

/************HEADER*************/

.container-navigation header {
    background-color: #030823;
  position: fixed;
  z-index: 1080;
}

.container-navigation header img {
    height: 95px;
    padding: 8px 31px 8px 70px;
}

.container-navigation .emblem {   /*!!!!!!!*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
}

.container-navigation .emblem .language select {
    background-color: transparent;
    font-family: Manrope;
    color: #F4F6FF;
    font-size: 18px;
    margin-top: 34px;
    margin-right: 150px;
    width: 37px;
    appearance: none; 
    overflow: hidden;
    border: 0;
    background: url('../images/rectangle.svg');
    background-repeat: no-repeat;
    background-position: 27px;
    outline: none;
    -moz-appearance: none;
-webkit-appearance: none;
}

.container-navigation .emblem .language select option {
    background-color: #030823;
}



.container-navigation header .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;
   
}

.container-navigation header .menu ul li a {
    color: #F4F6FF;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.container-navigation header .menu ul li a:hover{
    text-decoration: underline;
}

.container-navigation header .menu .tour a{
    color: #030823;
    display: block;
    padding: 8px 35px;
    text-align: center;
    font-family: Manrope;
    font-size: 19px;
    font-weight: 400;
    background-color: #F4F6FF;
    border-radius: 7px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 97px;
}

.container-navigation header .menu .tour a:hover {
    color:#F4F6FF;
    background-color: #030823;
    text-decoration: none;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}





/***CONTAINER FOOTER***/

.map {
    margin-bottom: -3px;}


.container-footer {
    background-color: #030823;
}

.container-footer footer .ucp a p {
    color:  #9A9BD0;
    font-family: Manrope;
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 8px; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 11px;
    
}

.container-footer footer .ucp a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
}

.container-footer footer .ucp a .emblem {
    width: 148px;
    height: 148px;
    display: block;
}

.container-footer footer .info {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 270px 336px 296px 350px 100px;
    grid-template-columns: 270px 336px 296px 350px 100px;
    padding-top: 70px;
    padding-left: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 80px;
    padding-left: 100px;
}


.container-footer .center .geraldika {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 70px;
}


.container-footer footer .payments ul li:hover,
.container-footer footer .contacts ul li a:hover{
    cursor: pointer;
}

.container-footer footer .contacts h6,
.container-footer footer .menu h6,
.container-footer footer .payments h6 {
    color:  #9A9BD0;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;
    padding-left: 30px;
}

.container-footer footer .contacts ul li a,
.container-footer footer .menu ul li a {
    color:  #F4F6FF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
}

.container-footer footer .menu ul li a:hover {
    text-decoration: underline;
    }

.container-footer footer .payments ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 17px;
}



.container-footer footer .up {
    height: 64px;
    padding-left: 230px;
}


.container-footer .ucp-bottom {
    color:  #F4F6FF;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
   
    padding-bottom: 18px;
}



/********Auto Carousel*******/

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
   }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
                transform: translateX(calc(-250px * 7));
   }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
   }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
                transform: translateX(calc(-250px * 7));
   }
}
.slider {
    background: #030823;
    -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
            box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}
.slider::before, .slider::after {
    background: -webkit-gradient(linear, left top, right top, from(#030823), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(left, #030823 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, #030823 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 150px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
        -ms-transform: rotate(180deg);
            transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    -webkit-animation: scroll 80s linear infinite;
            animation: scroll 80s linear infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 150px;
    width: 160px;
}




/* BURGER */

.container-navigation .menu ul .close{
    display: none;
}

.container-navigation .menu .burger{
    display: none;
}

.container-navigation .menu .burger img {
    width: 30px;
}

/* BURGER */
















/* ****************************ADAPTIVE******************* */




@media screen and (max-width: 1375px) {
    

    .container-navigation .emblem .language select {
        margin-right: 50px;
    }

    .container-footer .info .up .arrow {
        padding-left: 0;
    }

    .container-footer footer .info {
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
    }


    .container-navigation header .menu .tour a {
        -ms-flex-item-align: end;
            align-self: flex-end;
    }

    .container-navigation header .menu .tour a {
        margin: 0;
    }

    .container-navigation header .menu ul {
  
        gap: 60px;
        padding-left: 0;
        margin-left: 30px;
       
    }


}


@media screen and (max-width: 1300px) {
    
    .container-navigation header img{
        padding-left: 40px;
    }

.container-navigation header .menu ul a {
    font-size: medium;
}




.container-footer footer .info {
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
    }

    


    .container-footer footer .up {
        padding-left: 90px;
    }


    .slider {
        width: 60%;
      
        height: 110px;
    }

    .slider .slide {
        height: 100px;
        width: 105px;
        margin-right: 50px;
    }


    .container-footer footer .contacts h6,
.container-footer footer .menu h6,
.container-footer footer .payments h6 {
  
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 8px;
}

.container-footer footer .contacts ul li a,
.container-footer footer .menu ul li a {
  
    font-size: 18px;
    font-weight: 400;
    
}

}


@media screen and (max-width: 1200px) {
    .container-navigation header .menu ul {
        gap: 55px;
    }

    .container-navigation header .menu ul a{
        font-size: small;
    }

    .container-navigation header .language {
        display: none;
    }

}


@media screen and (max-width: 1060px){


    .slider .slide {
        margin-right: 60px;
    }

    .container-navigation header .menu ul li:nth-child(4),
    .container-navigation header .menu ul li:nth-child(5) {
        display: none;
    }

    .container-footer footer .contacts ul li a,
.container-footer footer .menu ul li a {
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 0;
}

    .container-footer .payments {
        display: none;
    }

    .container-footer footer .info {
  
       -ms-grid-columns: 1fr 1fr 1fr;
  
       grid-template-columns: 1fr 1fr 1fr;
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }

    .container-navigation header .menu ul {
        gap: 75px;
    }

   

    .container-footer .ucp-bottom {
        font-size: 8px;
        padding-top: 30px;
    }

}



@media screen and (max-width: 900px) {



    .container-footer footer .contacts ,
.container-footer footer .menu,
.container-footer footer .payments {
    padding: 0;
}
.container-footer footer {
    padding-left: 40px;
}

.container-footer .ucp {
    margin-top: 40px;
    padding-left: 40px;
}

.container-footer .geraldika .ucp p {
    font-size: 20px;
    padding-top: 29px;
}

.container-footer .geraldika .ucp img {
    width: 10px;
}


.container-footer footer .info {
    padding: 0;
    padding-top: 25px;
}

/* .container-footer footer .info .up {
    padding: 0;
    
} */
.container-footer footer .info .up img {
    height: 50px;
}

.container-footer .geraldika .slider {
    margin-top: 60px;
}

.slider .slide {
    height: 80px;
    width: 71px;
    margin-right: 80px;
}

.container-navigation header .menu .tour {
    margin-left: 36px;
}

.container-navigation header .menu ul {
    gap: 30px;
}



.container-footer .ucp-bottom {
    font-size: 8px;
    margin-bottom: 0;
}


.container-footer .geraldika{
    padding: 0 !important;
}


}


@media screen and (max-width: 750px) {
    .container-navigation header .menu .tour a {
        font-size: 14px;
    }

    .container-navigation header .menu ul li a {
        font-size: 14px;
    }

    .container-navigation header .menu ul{
        gap: 25px;
    }

    .slider {
        display: none;
    }

    .container-navigation header .menu ul {
        gap: 30 px;
    }

    .container-footer .geraldika .ucp a img {
        width: 100px;
        height: 100px;
    }

    .container-footer .info {
       justify-items: flex-end;
    }

    .container-footer .info {
        margin-right: 0;
    }

    .container-footer .info .up {
        margin-right: 40px;
    }


    .container-navigation header .menu .tour {
        margin-left: 0px;
    }

    .container-footer footer .info .contacts h6,
    .container-footer footer .info .menu h6 {
        padding-bottom: 0;
        margin-bottom: 0;
    }

} 




@media screen and (max-width: 700px) {


.container-navigation header .menu ul{
    gap: 20px;
}

.container-footer footer .info .contacts ul,
.container-footer footer .info .contacts h6 {
        padding-left: 0;
  }


}


@media screen and (max-width: 600px) {
/* Burger */

.container-navigation .center .menu ul{
    min-height: 100vh;
    background: rgba(3,8,35,0.9);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    color: #fff;
    padding-top: 130px;
    transition: 1s;
}

.container-navigation .center .menu ul li a{
    font-size: 22px;
}

    .container-navigation .center .menu .close{
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 25px;
    }

    .container-navigation .menu ul.mob-menu{
    left: 0;
    }
    
    
    .container-navigation .menu .burger{
        display: block;
        float: right;
    }

    .container-navigation .menu .burger img {
        width: 30px;
        height: 30px;
       margin-right: 40px;
        margin-top: 30px;
    }
    
/* Burger */

    .container-navigation header .menu ul {
        display: none;
    }

    
    .container-footer footer .info .menu ul li a,
    .container-footer footer .info .contacts ul li a {
            font-size: 13px
      }

      .container-navigation header img {
        height: 70px;
        padding: 8px 31px 8px 20px;
    }

    .container-navigation header .menu .burger img{
        margin-top: 20px;
        margin-right: 20px;
    }

    .container-carusel .swiper {
        padding-top: 70px;
    }

     
}


@media screen and (max-width: 500px) {


    .container-footer footer .info {
        row-gap: 30px;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        justify-items: start;
        
    }



    .container-footer footer .info .up {
        display: none;
    }

    .container-footer footer .ucp {
        padding: 0;
    }


    .container-footer footer .info .contacts h6,
    .container-footer footer .info .menu h6 {
     
        padding: 0;
        margin-bottom: 0;
    }

  
    .container-footer footer .info .menu h6{
        padding-left: 32px;
    }


.container-footer footer {
    padding-left: 0;
}

.container-footer footer .info {
  justify-items: center;
}

.container-footer footer .geraldika .ucp {
    padding-left: 40px;
}

  }



@media screen and (max-width: 400px) {


 

    .container-footer footer .info {
        row-gap: 20px;
        justify-items: start;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr 1fr; 
    
    }


    .container-footer footer .info {
      justify-items: center;
    }

    .container-footer footer .info .contacts h6,
    .container-footer footer .info .menu h6 {
        font-size: 14px;
        margin-bottom: 0;
    }

    .container-footer footer .info .menu {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: end;
    }

    .container-footer footer .geraldika .ucp a{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; 
    }

    .container-footer footer .geraldika .ucp {
        margin: 0 auto;
        margin-top: 20px;
        padding: 0;
    }

    .container-footer footer .geraldika .ucp .emblem {
        margin: 0 auto;
    }

    .container-footer footer .geraldika .ucp p {
        text-align: center;
    }

   
}
  