 /*Reset CSS*/
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body {
     line-height: 1;
 }
 ol, ul {
     list-style: none;
 }
 blockquote, q {
     quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: '';
     content: none;
 }
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }

 /***WRAPPER***/


 .wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto; 
}

.center {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}


/************HEADER*************/

.container-navigation header {
    background-color: #030823;
  position: fixed;
  z-index: 1080;
}

.container-navigation header img {
    
    height: 95px;
    padding: 8px 31px 8px 70px;
}

.container-navigation .emblem {   /*!!!!!!!*/
    display: flex;
    float: left;
}

.container-navigation .emblem .language select {
    background-color: transparent;
    font-family: Manrope;
    color: #F4F6FF;
    font-size: 18px;
    margin-top: 34px;
    margin-right: 150px;
    width: 37px;
    appearance: none; 
    overflow: hidden;
    border: 0;
    background: url('../images/rectangle.svg');
    background-repeat: no-repeat;
    background-position: 27px;
    outline: none;
    -moz-appearance: none;
-webkit-appearance: none;
}

.container-navigation .emblem .language select option {
    background-color: #030823;
}



.container-navigation header .menu ul {
    display: flex;
    gap: 50px;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;
   
}

.container-navigation header .menu ul li a {
    color: #F4F6FF;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.container-navigation header .menu ul li a:hover{
    text-decoration: underline;
}

.container-navigation header .menu .tour a{
    color: #030823;
    display: block;
    padding: 8px 35px;
    text-align: center;
    font-family: Manrope;
    font-size: 19px;
    font-weight: 400;
    background-color: #F4F6FF;
    border-radius: 7px;
    transition: 1s;
    box-sizing: border-box;
    margin-left: 97px;
}

.container-navigation header .menu .tour a:hover {
    color:#F4F6FF;
    background-color: #030823;
    text-decoration: none;
    transition: 1s;
}





/*CARUSEL*/

.container-carusel .swiper {
    width: 100%;
    height: 100%;
    padding-top: 90px;
  }

  .container-carusel  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 803px;
  }

  .container-carusel  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



  .container-carusel  .swiper-slide .text {
    position: relative;
    bottom: 250px;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
  }

  .container-carusel  .swiper-slide a {
    text-decoration: none;
  }

  .container-carusel  .swiper-slide .text h2  {
    color: #F4F6FF;
    font-family: Oswald;
    font-size: 62px;
    font-weight: 400;
    line-height: 100.6%;
    letter-spacing: 0.62px;
    position: relative;
    width: 800px;
    text-align: left;
    
  }

  .container-carusel  .swiper-slide .text p {
    color:  #F4F6FF;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 300;
    line-height: 116.667%;
    letter-spacing: -0.18px;
    width: 524px;
    text-align: left;
    left: 300px;
    position: relative;
    top: 15px;
    width: 400px;
    
  }

  .container-carusel .swiper-button-next, 
  .container-carusel .swiper-button-prev
 {
   color: #fff;
  }

  .container-carusel .swiper-pagination .swiper-pagination-bullet{
    background-color: #fff;
  }






/*LOCATIONS*/

.container-locations {
    background-color: #F4F6FF;
}

.container-locations .info {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 55px;
    gap: 242px;
    margin-top: -17px;
}

.container-locations .info h2 a{
    text-decoration: none;
    color:#030823;
    font-family: Oswald;
    font-size: 50px;
    font-weight: 400;
    line-height: 100.6%;
    letter-spacing: 0.5px;
}

.container-locations .info h2 a:hover{
    text-decoration: underline;
}

.container-locations .locations,
.container-locations .locations-all  {
    display: grid;
    justify-content: center;
    grid-template-columns: 407px 407px 407px;
    column-gap: 31px;

}

.container-locations .locations .card1,
.container-locations .locations-all .card1 {
box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
text-align: left;

}

.container-locations .locations-all .card1 {
    margin-bottom: 31px;
}

.container-locations .locations .card1 {
    text-align: center;
}

.container-locations .locations .card1 img,
.container-locations .locations-all .card1 img {
    width: 400px;
    height: 270px;
    padding: 15px;
    border-radius: 19px;
}

.container-locations .locations .card1 h5,
.container-locations .locations-all .card1 h5 {
    color: #030823;
    font-family: Oswald;
    font-size: 30px;
    font-weight: 400;
    line-height: 100.6%;
    letter-spacing: 0.3px;
    padding-left: 20px;
    padding-bottom: 15px;
    text-align: left;
}

.container-locations .locations .card1 p,
.container-locations .locations-all .card1 p {
    color:#030823;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 300;
    line-height: 116.667%;
    letter-spacing: -0.18px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    text-align: left;
}



.container-locations .locations .card1 a,
.container-locations .locations-all .card1 a{
    color:  #5D5E8C;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    box-shadow: none;
    padding-bottom: 40px;
}


.container-locations .locations .card1 a:hover,
.container-locations  .locations-all .card1 a:hover {
    text-decoration: underline;
    color:  #030823;
}



.container-locations .show-all .all-locations
{
    color: #030823;
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 122.222%;
    width: 267px;
    height: 52px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 7px;
    display: block;
    cursor: pointer;
    justify-content: center;
    margin: 35px auto;
    transition: 1s;
    padding: 14px 35px;
    transition: 2s;
    box-sizing: border-box;

}

.container-locations .show-all .all-locations:hover {
    background-color: #030823;
    color: #F4F6FF;
}

.container-locations .show-all .all-locations:focus{
    display: none;
}

.container-locations .show-all .locations-all {
    margin-top: 31px;
}




.container-locations .locations .card1 
 {
    background-color: #F4F6FF;
}


.container-locations .btn {
    border: 0;
}

.popover-body{
    background-color: #F4F6FF;
    color: #030823;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 300;
    line-height: 116.667%;
    letter-spacing: -0.18px;
    text-align: left;
    /* border: solid rgba(0, 0, 0, 0.1) 1px;
    width: 407px; */
    /* border-radius: 7px; */
  
    
}

/* .custom-popover {
    --bs-popover-max-width: 210px;
    --bs-popover-border-color: var(--bs-primary);
    --bs-popover-header-bg: var(--bs-primary);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
  } */

  
.popover {
    min-width:390px;
    max-width:800px;
   
}
  
.bs-popover-auto[data-popper-placement^=top]>.popover-arrow::after, 
.bs-popover-end>.popover-arrow::after {
   
   display: none;
} 



/***CONTAINER ABOUT***/




.container-about {
    background-color: #F4F6FF;
    padding-bottom: 40px;
}

.container-about h2 {
    color: #030823;
    font-family: Oswald;
    font-size: 62px;
    font-weight: 400;
    line-height: 100.6%; 
    letter-spacing: 0.62px;
    padding-top: 20px
}

.container-about .abot {
    color: #030823;
    font-family: Oswald;
    font-size: 62px;
    font-weight: 400;
    line-height: 100.6%; 
    letter-spacing: 0.62px;
    padding-left: 70px;
    padding-bottom: 42px;
    
}

.container-about .center p,
.container-about .center ul {
    color: #030823;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 300;
    line-height:  137%;
    letter-spacing: normal;
    padding-left: 70px;
    padding-right: 70px;
    text-align: justify;
    text-indent: 70px;
    
}

.container-about .center ul {
    list-style-type: disc;
    margin-left: 70px;
    text-indent: 5px;
}

.container-about .center h3 {
    color: #030823;
    font-family: Oswald;
    font-size: 32px;
    font-weight: 400;
    line-height: 100.6%; 
    letter-spacing: 0.62px;
    padding-left: 70px;
    padding-bottom: 22px;
    padding-top: 22px;
    text-indent: 70px;
}


























.container-about .center .city-show {
    width: 65%;
    
}

.container-about .center .info{
    color: #030823;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0px;
    cursor: pointer;
    list-style-type: none;
}



.container-about .center .city-show .show .about strong{
    font-weight: 600;
}

.container-about .center .city-show .btn {
    color: var(--, #030823);
    font-family: Manrope;
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    line-height: 84%;
    letter-spacing: -0.25px;
    text-transform: uppercase;
    border: 0; 
}

/* .container-about .center .city-show .btn:hover {
    text-decoration: underline;
} */

.city-show .btn {

    --bs-accordion-btn-icon-width: 0;
}

.container-about .center .city-show .about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.container-about .center .city-show  img {
    width: 220px;
    box-shadow: 0px 0px 11px 4px rgba(34, 60, 80, 0.2);
     margin-top: 25px;
}

.container-about .center .city-show p {
    padding: 0;
    margin: 0;
}

.container-about .center .city-show .row {
    display: grid;
    grid-template-columns: 3fr 1fr;
}


.container-about .center .city-show .about hr {
    padding: 0;
    margin: 0;
}


.container-about .center .city-show .card,
.container-about .center .city-show .btn  {
    background-color: #F4F6FF;
    box-shadow: none;
    border: 0;
    border-radius: 0;
}

.container-about .center .city-show .btn {
    border-bottom: solid 1px rgb(189, 189, 189);
    padding-bottom: 10px;
    width: 300px;
    text-align: left; 
    font-weight: 500;
}

.container-about .center .city-show .row .col:nth-child(1){
    width: 300px;
    justify-content: start;
}

.container-about .center .city-show .row {width: 200px;}

/* .container-about .center .city-show:nth-of-type(3),
.container-about .center .city-show:nth-of-type(4){
    
  margin-top: -81px;
} */

.container-about .MultiCollapse {
  padding-left: 70px;
}

.container-about .MultiCollapse h6 {
    color: var(--, #030823);
font-family: Oswald;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 100.6%;
letter-spacing: 0.3px;
margin: 0 auto;
display: inline-block;
padding-bottom: 20px;
}


.container-about .map {
    /* box-shadow: 0px 0px 14px 12px rgba(34, 60, 80, 0.2); */
    margin-left: 90px; 
    margin-bottom: 180px;
}




















/* 



.container-about .center .accordion {
    width: 65%;
    margin: 0 auto;
}

.container-about .center .info{
    color: #030823;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0px;
    cursor: pointer;
    list-style-type: none;
}


.container-about .center .accordion .accordion-button{
    font-weight: 400;
}

.container-about .center .accordion .accordion-item .show .about strong{
    font-weight: 600;
}

.container-about .center .accordion .accordion-button {
    text-transform: uppercase;
    color: #030823;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 100.6%;
    letter-spacing: 0.62px;
    
}

.accordion-button {

    --bs-accordion-btn-icon-width: 0;
}

.container-about .center .accordion .accordion-item .show .about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.container-about .center .accordion .accordion-item .show .about img {
    width: 40%;
    box-shadow: 0px 0px 14px 12px rgba(34, 60, 80, 0.2);
}

.container-about .center .accordion .accordion-item .show .about {
    padding-bottom: 32px;
    padding-top: 32px;
}

.container-about .center .accordion .accordion-item .show .about hr {
    padding: 0;
    margin: 0;
}


.container-about .center .accordion .accordion-item,
.container-about .center .accordion .accordion-button  {
    background-color: #F4F6FF;
    box-shadow: none;
} */







/***CONTAINER FOOTER***/

.map {
    margin-bottom: -3px;}


.container-footer {
    background-color: #030823;
}

.container-footer footer .ucp a p {
    color:  #9A9BD0;
    font-family: Manrope;
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 8px; 
    padding-left: 20px;
    padding-right: 20px;
    
}

.container-footer footer .ucp a{
    display: flex;
    text-decoration: none;
}

.container-footer footer .ucp a .emblem {
    width: 148px;
    height: 148px;
    display: block;
}

.container-footer footer .info {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 270px 336px 296px 350px 100px;
    padding-top: 70px;
    padding-left: 70px;
    justify-content: space-between;
    padding-bottom: 80px;
    padding-left: 100px;
}

.container-footer .center .geraldika {
    display: flex;
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 70px;
}


.container-footer footer .payments ul li:hover,
.container-footer footer .contacts ul li a:hover{
    cursor: pointer;
}

.container-footer footer .contacts h6,
.container-footer footer .menu h6,
.container-footer footer .payments h6 {
    color:  #9A9BD0;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;
    padding-left: 30px;
}

.container-footer footer .contacts ul li a,
.container-footer footer .menu ul li a {
    color:  #F4F6FF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
}

.container-footer footer .menu ul li a:hover {
    text-decoration: underline;
    }

.container-footer footer .payments ul {
    display: flex;
    gap: 17px;
}



.container-footer footer .up {
    height: 64px;
    padding-left: 230px;
}


.container-footer .ucp-bottom {
    color:  #F4F6FF;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
   
    padding-bottom: 18px;
}



/********Auto Carousel*******/

@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.slider {
    background: #030823;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, #030823 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 150px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 80s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 150px;
    width: 160px;
}



.container-about .map iframe {
    width: 630px;
    height: 430px;
}


/* ****************************ADAPTIVE******************* */


@media screen and (max-width: 1375px) {
    .container-navigation header .menu ul {
        gap: 40px;
     
    }

    .container-navigation .emblem .language select {
        margin-right: 50px;
    }
}


@media screen and (max-width: 1300px) {
    
    .container-navigation header img{
        padding-left: 40px;
    }

    .container-navigation header .menu .tour a  {
        margin-left: 20px;
     
    }

    
.container-navigation header .menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
 
    padding-left: 0;
    margin-left: 30px;
   
}

.container-navigation header .menu ul a {
    font-size: medium;
}


    .container-locations .locations, 
    .container-locations .locations-all {
        /* grid-template-columns: 340px 340px 340px; */
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 40px;
        padding-right: 40px;
    }



    .container-locations .locations .card1,
    .container-locations .locations-all .card1 {
        width: auto;
       
        text-align: center;
    }

    .container-locations .locations .card1 a, 
    .container-locations .locations-all .card1 a {
        padding-bottom: 15px;
        position: relative;
    }

    .container-locations .locations .card1 img,
    .container-locations .locations-all .card1 img{
        width: 100%;
       
        /* height: 210px; */
    }

    

    .container-footer footer .info {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: 70px;
        padding-left: 70px;
        padding-bottom: 80px;
        padding-right: 40px;
    }

    .container-footer footer .up {
        padding-left: 90px;
    }


    .slider {
        width: 60%;
        height: 100px;
    }

    .slider .slide {
        height: 100px;
        width: 105px;
    }

    .container-about .d-flex {
        flex-direction: column;
    }

    .container-about .d-flex .MultiCollapse {
        margin-top: -150px;
    }

  


    .container-footer footer .contacts h6,
.container-footer footer .menu h6,
.container-footer footer .payments h6 {
  
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 8px;
}

.container-footer footer .contacts ul li a,
.container-footer footer .menu ul li a {
  
    font-size: 18px;
    font-weight: 400;
    
}

}


@media screen and (max-width: 1200px) {
    .container-navigation header .menu ul {
        gap: 30px;
    }

    .container-navigation header .menu ul a{
        font-size: small;
    }

    .container-navigation header .language {
        display: none;
    }
}


@media screen and (max-width: 1060px){

    .container-carusel .swiper {
        height: 50vh;
      }

      .container-carusel .swiper .swiper-slide .text {
        bottom: 380px;
      }

    .slider {
        display: none;
    }

    .container-navigation header .menu ul li:nth-child(4),
    .container-navigation header .menu ul li:nth-child(5) {
        display: none;
    }

    .container-footer footer .contacts ul li a,
.container-footer footer .menu ul li a {
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 0;
}

    .container-footer .payments {
        display: none;
    }

    .container-footer footer .info {
  
       grid-template-columns: 1fr 1fr 1fr;
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }

}






@media screen and (max-width: 900px) {
    .container-locations .locations, 
    .container-locations .locations-all {
        grid-template-columns: 1fr 1fr;
    }

    .container-about .map {
        margin: 0 auto;
        width: ;
    }


    /* .container-locations .locations .card1:nth-last-of-type(1) {
        margin-top: 30px;
    } */

    .container-locations .locations .card1:nth-last-of-type(3) {
       display: none;
    }

    .container-footer footer .contacts ,
.container-footer footer .menu,
.container-footer footer .payments {
    padding: 0;
}
.container-footer footer {
    padding-left: 40px;
}

.container-footer .ucp {
    margin-top: 40px;
    padding-left: 40px;
}

.container-footer .geraldika .ucp p {
    font-size: 20px;
}

.container-footer .geraldika .ucp img {
    width: 10px;
}

.container-footer .ucp-bottom {
    font-size: 8px;
    padding-top: 30px;
}

.container-about .abot,
.container-about .center p {
    padding-left: 40px;
    padding-right: 40px;
}

.container-about .abot {
    font-size: 52px;
}

.container-about .center h3{
    font-size: 29px;
}

.container-about .map iframe {
    margin-bottom: 40px;
}

.container-about .d-flex {
    justify-content: center !important;
 
}

.container-about .d-flex .MultiCollapse {
    margin-top: 0;
}

.container-about .d-flex .MultiCollapse h6 {
    margin-bottom: 20px;
    font-size: 24px;
}


.container-about .d-flex .MultiCollapse .city-show .btn {
    font-size: 15px;
}

.container-about .d-flex .MultiCollapse .city-show .row {
    display: flex;
    flex-direction: column;
} 

.container-footer footer .info {
    padding: 0;
    padding-top: 25px;
}

.container-footer footer .info .up {
    padding: 0;
    
}
.container-footer footer .info .up img {
    height: 50px;
}

}


@media screen and (max-width: 750px) {
    .container-navigation header .menu .tour a {
        margin-left: 20px;
        font-size: 14px;
    }

    .container-navigation header .menu ul li a {
        font-size: 14px;
    }

    .container-navigation header .menu ul{
        gap: 15px        ;
    }
} 




@media screen and (max-width: 700px) {

.container-carusel .swiper .swiper-slide .text h2 {
    font-size: 44px;
}

.container-carusel  .swiper-slide .text p {
    left: 50px;
    font-size: 15px;
}

.container-locations .info {
    gap: 100px;
   
}

.container-locations .info h2 a {
    font-size: 40px;
}

.container-about .map iframe {
    width: 500px;
    height: 250px;
}

.container-carusel .swiper {
    height: 40vh;
  }

  .container-carusel .swiper .swiper-slide .text {
    bottom: 500px;
  }

  .container-carusel .swiper .swiper-slide img {

  }

}


@media screen and (max-width: 600px) {
    .container-navigation header .menu ul {
        display: none;
    }
    
}


@media screen and (max-width: 500px) {
    .container-locations .locations, 
    .container-locations .locations-all {
        grid-template-columns: 1fr;
    }

    .container-footer footer .info {
        row-gap: 30px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
       
    }

    .container-footer footer .ucp {
        padding: 0;
    }

    .container-locations .info {
        gap: 50px;
    }

    .container-locations .info h2 a {
        font-size: 30px;
    }

    .container-about .map iframe {
        width: 100%;
        
    }
}