/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***WRAPPER***/


.wrapper {
   max-width: 1440px;
   width: 100%;
   margin: 0 auto; 
}

.center {
   max-width: 1440px;
   margin: 0 auto;
   width: 100%;
}


/************HEADER*************/

.container-navigation header {
   background-color: #030823;
 position: fixed;
}

.container-navigation header img {
    height: 95px;
    padding: 8px 31px 8px 70px;
}

.container-navigation .emblem {   /*!!!!!!!*/
   display: flex;
   float: left;
}

.container-navigation .emblem .language select {
   background-color: transparent;
   font-family: Manrope;
   color: #F4F6FF;
   border: 0;
   font-size: 18px;
   margin-top: 34px;
   margin-right: 150px;
   width: 37px;
   appearance: none; 
   overflow: hidden;
   border: 0;
   background: url('../images/rectangle.svg');
   background-repeat: no-repeat;
   background-position: 27px;
   outline: none;
   -moz-appearance: none;
-webkit-appearance: none;
}

.container-navigation .emblem .language select option {
   background-color: #030823;
}



.container-navigation header .menu ul {
   display: flex;
   gap: 50px;
   align-items: center;
   padding-top: 26px;
   padding-bottom: 26px;
  
}

.container-navigation header .menu ul li a {
   color: #F4F6FF;
   font-family: Manrope;
   font-size: 18px;
   font-weight: 500;
   line-height: normal;
   text-decoration: none;
}

.container-navigation header .menu ul li a:hover{
   text-decoration: underline;
}

.container-navigation header .menu .tour a{
   color: #030823;
   display: block;
   padding: 8px 35px;
   text-align: center;
   font-family: Manrope;
   font-size: 19px;
   font-weight: 400;
   background-color: #F4F6FF;
   border-radius: 7px;
   transition: 1s;
   box-sizing: border-box;
   margin-left: 97px;
}

.container-navigation header .menu .tour a:hover {
   color:#F4F6FF;
   background-color: #030823;
}








/***CONTAINER LOCATIONS***/

.container-locations {
    padding-top: 100px;
    background-color: #F4F6FF;
    padding-bottom: 55px;
}


.container-locations h1 {
    color:  #030823;
    font-family: Oswald;
    font-size: 62px;
    font-weight: 400;
    line-height: 100.6%; /* 62.372px */
    letter-spacing: 0.62px;
    padding-left: 70px;
    padding-top: 70px;
}

.container-locations .summary {
    color:  #030823;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 300;
    line-height: 116.667%;
    letter-spacing: -0.18px;
    margin: 55px 132px 55px 132px;
}

.container-locations select {
    background-color: #F4F6FF;
    border: 0;
    margin-left: 70px;
    outline: none;
    width: 250px;
}






.container-locations .locations,
.container-locations .locations-all  {
    display: grid;
    justify-content: center;
    grid-template-columns: 407px 407px 407px;
    column-gap: 31px;

}

.container-locations .locations .card1 {
box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
text-align: left;
margin-bottom: 30px;

}

.container-locations .locations-all .card1 {
    margin-bottom: 31px;
}

.container-locations .locations .card1 {
    text-align: center;
}

.container-locations .locations .card1 img {
    width: 400px;
    height: 270px;
    padding: 15px;
    border-radius: 19px;
}

.container-locations .locations .card1 h5 {
    color: #030823;
    font-family: Oswald;
    font-size: 30px;
    font-weight: 400;
    line-height: 100.6%;
    letter-spacing: 0.3px;
    padding-left: 20px;
    padding-bottom: 15px;
    text-align: left;
}

.container-locations .locations .card1 p{
    color:#030823;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 300;
    line-height: 116.667%;
    letter-spacing: -0.18px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    text-align: left;
}



.container-locations .locations .card1 .about-btn{
    color:  #5D5E8C;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    box-shadow: none;
    padding-bottom: 40px;
    text-decoration: none;
}


.container-locations .locations .card1 .about-btn:hover {
    text-decoration: underline;
    color:  #030823;

}



/* ***********************MODAL*********************** */



.modal .modal-content {
    background-color: #F4F6FF;
    border-radius: 0;


  
}


.modal .modal-content label {
    margin: 0;
    color: #030823;
    font-family: manrope;
    font-size: 17px;
    font-weight: 0;
    line-height: 130%;
    letter-spacing: 0.62px;
}

.modal h2 {
    color: var(--, #030823);
    font-family: Oswald;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 100.6%; /* 62.372px */
    letter-spacing: 0.62px;
    text-align: left;
    margin-left: 71px;
    margin-top: 20px;
    padding-bottom: 54px;
}

.modal h3 {
    color: var(--, #030823);
    font-family: Oswald;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100.6%; /* 62.372px */
    letter-spacing: 0.62px;
    text-align: left;
    margin-left: 71px;
}



.container-locations .locations .card1 .modal .modal-content{
    width: 100%;
}

.container-locations .locations .card1 .modal .modal-content .modal-body

{background-color: #F4F6FF;

}


.container-locations .locations .card1 .modal .modal-footer .about_location p {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    text-indent: 50px;
    color: var(--, #030823);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 122.222%;
}

.container-locations .locations .card1 .modal .modal-body .col-4 p {
    color: var(--, #030823);
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 110%;
}

.container-locations .locations .card1 .modal .modal-footer .btn {
    color: var(--, #030823);
text-align: center;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 122.222%;
height: 40px;
}

.container-locations .locations .card1 .modal .modal-footer .btn:hover {
    background-color: #030823;
    color: #F4F6FF;
}

/* ***********************MODAL*********************** */





/* ***********************Swiper-Slide*********************** */



.container-locations .locations .card_forest .modal-body  .swiper {
      width: 100%;
      height: 100%;
      
    }

    .container-locations .locations .card_forest .modal-body  .swiper-slide {
      text-align: center;
      font-size: 18px;
      background-color: #F4F6FF;
      display: flex;
      justify-content: center;
      align-items: center;
    }







    

    .container-locations .locations .card_forest .modal-body .mySwiper2 .swiper-slide img {
      display: block;
      width: 100%;
     
      height: 100%;
      object-fit: cover;
      border-radius: 0;
      padding: 0;
      margin-bottom: 30px;
    
    }

    .container-locations .locations .card_forest .modal-body .mySwiper .swiper-slide img {
        display: block;
        width: 100%;
        height: 110px;
        object-fit: cover;
        border-radius: 0;
        padding: 0;
        height: 130px;
        margin-right: 10px;
        margin-left: 10px;
       
    }


    .container-locations .locations .card_forest .modal-body .swiper-slide-active {
        height: 100%;
    }
  

    .container-locations .locations .card_forest .modal-body .swiper {
      width: 100%;
      height: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .container-locations .locations .card_forest .modal-body .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .container-locations .locations .card_forest .modal-body.mySwiper2 {
      height: 100%;
      width: 100%;
    }

    .container-locations .locations .card_forest .modal-body .mySwiper {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .container-locations .locations .card_forest .modal-body  .mySwiper .swiper-slide {
      width: 100%;
      height: 100%;
      opacity: 0.4;
    }

    .container-locations .locations .card_forest .modal-body  .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

    .container-locations .locations .card_forest .modal-body.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }




/* ***********************Swiper-Slide*********************** */











/***CONTAINER FOOTER***/



.map {
    margin-bottom: -3px;}


.container-footer {
    background-color: #030823;
}

.container-footer footer .ucp a p {
    color:  #9A9BD0;
    font-family: Manrope;
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 8px; 
    padding-left: 20px;
    padding-right: 20px;
    
}

.container-footer footer .ucp a{
    display: flex;
    text-decoration: none;
}

.container-footer footer .ucp a .emblem {
    width: 148px;
    height: 148px;
    display: block;
}

.container-footer footer .info {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 270px 336px 296px 350px 100px;
    padding-top: 70px;
    padding-left: 70px;
    justify-content: space-between;
    padding-bottom: 80px;
    padding-left: 100px;
}

.container-footer .center .geraldika {
    display: flex;
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 70px;
}




.container-footer footer .contacts h6,
.container-footer footer .menu h6,
.container-footer footer .payments h6 {
    color:  #9A9BD0;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;
    padding-left: 30px;
}

.container-footer footer .contacts ul li a,
.container-footer footer .menu ul li a {
    color:  #F4F6FF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
}

.container-footer footer .menu ul li a:hover {
    text-decoration: underline;
    }

.container-footer footer .payments ul {
    display: flex;
    gap: 17px;
}

.container-footer footer .payments ul li:hover,
.container-footer footer .contacts ul li a:hover{
    cursor: pointer;
}

.container-footer footer .up {
    height: 64px;
    padding-left: 230px;
}


.container-footer .ucp-bottom {
    color:  #F4F6FF;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 18px;
}



/********Auto Carousel*******/

@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.slider {
    background: #030823;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, #030823 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 150px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 150px;
    width: 160px;
}