/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***WRAPPER***/


.wrapper {
   max-width: 1440px;
   width: 100%;
   margin: 0 auto; 
}

.center {
   max-width: 1440px;
   margin: 0 auto;
   width: 100%;
}







/***CONTAINER LOCATIONS***/

.container-locations {
    padding-top: 100px;
    background-color: #F4F6FF;
    padding-bottom: 55px;
}


.container-locations h1 {
    color:  #030823;
    font-family: Oswald;
    font-size: 62px;
    font-weight: 400;
    line-height: 100.6%; /* 62.372px */
    letter-spacing: 0.62px;
    padding-left: 70px;
    padding-top: 70px;
}

.container-locations .summary {
    color:  #030823;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 300;
    line-height: 116.667%;
    letter-spacing: -0.18px;
    margin: 55px 132px 55px 132px;
    text-align: justify;
}

.container-locations select {
    background-color: #F4F6FF;
    border: 0;
    margin-left: 70px;
    outline: none;
    width: 250px;
}



.container-locations .show-all .all-locations
{
    color: #030823;
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 122.222%;
    width: 267px;
    height: 52px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 7px;
    display: block;
    cursor: pointer;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 35px auto;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    padding: 14px 35px;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}

.container-locations .show-all .all-locations:hover {
    background-color: #030823;
    color: #F4F6FF;
}



















.container-locations .show-all .locations-all {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 407px 31px 407px 31px 407px;
    grid-template-columns: 407px 407px 407px;
    -webkit-column-gap: 31px;
       -moz-column-gap: 31px;
            column-gap: 31px;
}


.container-locations .locations,
.container-locations .show-all .all-locations .locations-all  {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 407px 31px 407px 31px 407px;
    grid-template-columns: 407px 407px 407px;
    -webkit-column-gap: 31px;
       -moz-column-gap: 31px;
            column-gap: 31px;

}

.container-locations .locations {
    padding-top: 55px;
}

.container-locations .locations .card1,
.container-locations .show-all .locations-all .card1 {
-webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
text-align: left;
margin-bottom: 30px;

display: flex;
flex-direction: column;
justify-content: flex-end;


}

.container-locations .locations-all .card1,
.container-locations .show-all .locations-all .card1 {
    margin-bottom: 31px;
}

.container-locations .locations .card1,
.container-locations .show-all .locations-all .card1 {
    text-align: center;
}

.container-locations .locations .card1 img,
.container-locations .show-all .locations-all .card1 img {
    width: 400px;
    height: 270px;
    padding: 15px;
    border-radius: 19px;
    
   flex-grow: 2;
    
}

.container-locations .locations .card1 h5,
.container-locations .show-all .locations-all .card1 h5 {
    color: #030823;
    font-family: Oswald;
    font-size: 30px;
    font-weight: 400;
    line-height: 100.6%;
    letter-spacing: 0.3px;
    padding-left: 20px;
    padding-bottom: 15px;
    text-align: left;
}

.container-locations .locations .card1 p,
.container-locations .show-all .locations-all .card1 p{
    color:#030823;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 300;
    line-height: 116.667%;
    letter-spacing: -0.18px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    text-align: left;
}



.container-locations .locations .card1 .about-btn,
.container-locations .show-all .locations-all .card1 .about-btn{
    color:  #5D5E8C;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-bottom: 40px;
    text-decoration: none;
    margin-bottom: 40px;

    
}


.container-locations .locations .card1 .about-btn:hover,
.container-locations .show-all .locations-all .card1 .about-btn:hover {
    text-decoration: underline;
    color:  #030823;

}



/* ***********************MODAL*********************** */



.modal .modal-content {
    background-color: #F4F6FF;
    border-radius: 0;
}

.modal .modal-content label {
    margin: 0;
    color: #030823;
    font-family: manrope;
    font-size: 17px;
    font-weight: 0;
    line-height: 130%;
    letter-spacing: 0.62px;
}

.modal h2 {
    color: var(--, #030823);
    font-family: Oswald;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 100.6%; /* 62.372px */
    letter-spacing: 0.62px;
    text-align: left;
    margin-left: 71px;
    margin-top: 20px;
    padding-bottom: 54px;
}

.modal h3 {
    color: var(--, #030823);
    font-family: Oswald;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100.6%; /* 62.372px */
    letter-spacing: 0.62px;
    text-align: left;
    margin-left: 71px;
}

.container-locations .locations .card1 .modal .modal-content{
    width: 100%;
}

.container-locations .locations .card1 .modal .modal-content .modal-body{
    background-color: #F4F6FF;
}

.container-locations .locations .card1 .modal .modal-footer .about_location p {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    text-indent: 40px;
    color: var(--, #030823);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 122.222%;
    text-align: justify;
}

.container-locations .locations .card1 .modal .modal-body .col-4 {
    padding: 0;
    padding-right: 10px;
}

.container-locations .locations .card1 .modal .modal-body .col-4 p {
    color: var(--, #030823);
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 110%;
text-align: justify;
padding: 0 20px;
}

.container-locations .locations .card1 .modal .modal-footer .btn {
    color: var(--, #030823);
text-align: center;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 122.222%;
height: 40px;
margin-right: 15px;
border-radius: 3px;
}

.container-locations .locations .card1 .modal .modal-footer .btn:hover {
    background-color: #030823;
    color: #F4F6FF;
}

.modal .btn-close{
    --bs-btn-close-focus-shadow: 0;
}

/* ***********************MODAL*********************** */





/* ***********************Swiper-Slide*********************** */



.container-locations .locations .cards-wiper-style .modal-body  .swiper {
      width: 100%;
      height: 100%;
}

.container-locations .locations .cards-wiper-style .modal-body  .swiper-slide {
      text-align: center;
      font-size: 18px;
      background-color: #F4F6FF;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }


.container-locations .locations .cards-wiper-style .modal-body .mySwiper2 
.swiper-slide img,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper4 
.swiper-slide img,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper6 
.swiper-slide img,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper8 
.swiper-slide img,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper10 
.swiper-slide img,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper12 
.swiper-slide img,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper14 
.swiper-slide img{
      display: block;
      width: 100%;
     
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      border-radius: 0;
      padding: 0;
      margin-bottom: 30px;
    
    }

.container-locations .locations .cards-wiper-style .modal-body .mySwiper .swiper-slide img,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper3 .swiper-slide img,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper5 .swiper-slide img,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper7 .swiper-slide img,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper9 .swiper-slide img,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper11 .swiper-slide img,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper13 .swiper-slide img {
        display: block;
        width: 100%;
        height: 110px;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: 0;
        padding: 0;
        height: 130px;
        margin-right: 10px;
        margin-left: 10px;
       
    }


.container-locations .locations .cards-wiper-style .modal-body .swiper-slide-active {
        height: 100%;
    }
  

.container-locations .locations .cards-wiper-style .modal-body .swiper {
      width: 100%;
      height: 80%;
      margin-left: auto;
      margin-right: auto;
    }

.container-locations .locations .cards-wiper-style .modal-body .swiper-slide {
      background-size: cover;
      background-position: center;
    }

.container-locations .locations .cards-wiper-style .modal-body.mySwiper2,
.container-locations .locations .cards-wiper-style .modal-body.mySwiper4,
.container-locations .locations .cards-wiper-style .modal-body.mySwiper6,
.container-locations .locations .cards-wiper-style .modal-body.mySwiper8,
.container-locations .locations .cards-wiper-style .modal-body.mySwiper10,
.container-locations .locations .cards-wiper-style .modal-body.mySwiper12,
.container-locations .locations .cards-wiper-style .modal-body.mySwiper14 {
      height: 100%;
      width: 100%;
    }

.container-locations .locations .cards-wiper-style .modal-body .mySwiper,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper3,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper5,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper7,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper9,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper11,
.container-locations .locations .cards-wiper-style .modal-body .mySwiper13  {
      height: 20%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px 0;
    }

.container-locations .locations .cards-wiper-style .modal-body  .mySwiper .swiper-slide,
.container-locations .locations .cards-wiper-style .modal-body  .mySwiper3 .swiper-slide,
.container-locations .locations .cards-wiper-style .modal-body  .mySwiper5 .swiper-slide,
.container-locations .locations .cards-wiper-style .modal-body  .mySwiper7 .swiper-slide,
.container-locations .locations .cards-wiper-style .modal-body  .mySwiper9 .swiper-slide,
.container-locations .locations .cards-wiper-style .modal-body  .mySwiper11 .swiper-slide,
.container-locations .locations .cards-wiper-style .modal-body  .mySwiper13 .swiper-slide {
      width: 100%;
      height: 100%;
      opacity: 0.4;
    }

.container-locations .locations .cards-wiper-style .modal-body  .mySwiper .swiper-slide-thumb-active,
.container-locations .locations .cards-wiper-style .modal-body  .mySwiper3 .swiper-slide-thumb-active,
.container-locations .locations .cards-wiper-style .modal-body  .mySwiper5 .swiper-slide-thumb-active,
.container-locations .locations .cards-wiper-style .modal-body  .mySwiper7 .swiper-slide-thumb-active,
.container-locations .locations .cards-wiper-style .modal-body  .mySwiper9 .swiper-slide-thumb-active,
.container-locations .locations .cards-wiper-style .modal-body  .mySwiper11 .swiper-slide-thumb-active,
.container-locations .locations .cards-wiper-style .modal-body  .mySwiper13 .swiper-slide-thumb-active {
      opacity: 1;
    }

.container-locations .locations .cards-wiper-style .modal-body.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
    }




/* ***********************Swiper-Slide*********************** */











/* ****************************ADAPTIVE******************* */


@media screen and (max-width: 1375px) {
    


}


@media screen and (max-width: 1300px) {
    
    .container-locations .summary {
        margin: 0;
        padding: 15px 40px;
    }

    .container-locations h1 {
        padding-top: 30px;
    }

    .container-locations .locations, 
    .container-locations .show-all .locations-all {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 40px;
        padding-right: 40px;
    }

    .container-locations .locations .card1,
    .container-locations .show-all .locations-all .card1 {
        width: auto;
        text-align: center;
    }

    .container-locations .locations .card1 a, 
    .container-locations .show-all .locations-all .card1 a {
        padding-bottom: 15px;
        position: relative;
    }

    .container-locations .locations .card1 img,
    .container-locations .show-all .locations-all .card1 img{
        width: 100%;
       height: auto;
        
    }

}


@media screen and (max-width: 1200px) {
    
    .container-locations .locations .card1 h5,
    .container-locations .show-all .locations-all .card1 h5 {
        font-size: 27px;
    }

    .container-locations .locations .card1 p,
    .container-locations .show-all .locations-all .card1 p {
        font-size: 16px;
    }

 

    .modal-xl {
        --bs-modal-width: 1840px;
    }

  

   .modal h2,
   .modal h3 {
    font-size: 40px;
   }

    .container-locations .locations .card1 .modal .modal-body .col-4 p {
        font-size: 16px;
        text-align: justify;
        padding: 0 15px;
    }

    .container-locations .locations .card1 .modal .modal-footer .about_location p {
        font-size: 14px;
        padding-top: 10px;
        text-align: justify;
    }

    .container-locations .locations .card1 .modal .modal-footer .btn {
        font-size: 14px;
        width: 10%;
    }

    
    
}


@media screen and (max-width: 1060px){

    .container-locations .show-all .locations-all .card1 .about-btn,
    .container-locations .locations .card1   .about-btn{
        font-size: 16px;
       margin-bottom: 30px;
    }

    .container-locations .show-all .locations-all .card1 .about-btn,
    .container-locations .locations .card1   .about-btn{
        font-size: 20px;
    }

    .container-locations .locations .card1 p{
        height: 100px;
    }

    .container-locations h1 {
        font-size: 48px;
        padding-top: 20px;
    }

    .container-locations .locations {
        padding-top: 25px;
    }


    .modal h2,
    .modal h3 {
     font-size: 30px;
     margin-top: 0;
     margin-left: 30px;

    }

    
 
     .container-locations .locations .card1 .modal .modal-body .col-4 p {
         font-size: 14px;
         text-align: justify;
         padding-left: 0;
         padding-right: 0;
         display: block;
         height: auto;
         
     }
 
     .container-locations .locations .card1 .modal .modal-footer .about_location p {
         font-size: 12px;
         padding-top: 10px;
         display: block;
         height: auto;
         padding-left: 0;
         padding-right: 0;
         padding-bottom: 0;
         margin-bottom: 0;
         text-indent: 30px;
     }
 
     .container-locations .locations .card1 .modal .modal-footer .btn {
         font-size: 14px;
         width: 100px !important; 
         height: 30px;
         margin-top: 20px;
     }

     .container-locations .locations .card1 .modal .swiper-button-next:after,
     .container-locations .locations .card1 .modal  .swiper-button-prev:after 
      {
         font-size: 30px;
     }
     
     .container-locations .locations .card1 .modal .modal-content {
         height: 100%;   /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
     }
/* 
     .container-locations .locations .card1 .modal .modal-footer {
        height: fit-content;
     } */
    
}

@media screen and (max-width: 992px) {
    /* .container-locations .locations .card1 .modal .modal-content {
        width: 100vw;   
    } */
}

@media screen and (max-width: 900px) {

    .container-locations h1 {
        font-size: 48px;
        padding-left: 40px;
    }

    .container-locations .summary {
        padding-left: 20px;
        padding-right: 20px;
    }

.container-locations .locations, 
.container-locations .show-all .locations-all {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

.container-about .map {
        margin: 0 auto;
       
    }

.container-locations .locations .card1:nth-last-of-type(3) {
       display: none;
    }


.container-locations .summary p {
    padding-left: 20px;
    padding-right: 20px;
}

.container-locations .locations .card1 .modal .swiper-button-next:after,
.container-locations .locations .card1 .modal  .swiper-button-prev:after 
 {
    font-size: 24px;
}

}

@media screen and (max-width: 750px) {
   
    .container-locations .info {
        gap: 120px;
    }

    .container-navigation header .menu .tour {
        margin-left: 0px;
    }

    .container-locations h1 {
        font-size: 40px;
    }

    .container-locations {
        padding-top: 100px;
    }

    .modal h2,
    .modal h3 {
     font-size: 24px;
    }
 
     .container-locations .locations .card1 .modal .modal-body .col-4 p {
         font-size: 12px;
         
     }
 
     .container-locations .locations .card1 .modal .modal-footer .about_location p {
         font-size: 10px;
     }
 
     .container-locations .locations .card1 .modal .modal-footer .btn {
         font-size: 12px;
         width: 10%;
     }

     .modal .modal-header,
     .modal .modal-footer {
        padding: 10px;
     }


     
    

} 




@media screen and (max-width: 700px) {

.container-locations .info {
    gap: 100px;
}

.container-locations .info h2 a {
    font-size: 40px;
}

.container-locations .locations .card1 p,
.container-locations .show-all .locations-all .card1 p {
    font-size: 14px;
}

.container-locations .locations .card1 h5,
.container-locations .show-all .locations-all .card1 h5 {
    font-size: 24px;
}

.container-locations .show-all .locations-all .card1 .about-btn,
.container-locations .locations .card1   .about-btn{
    font-size: 16px;
}

.modal .modal-body {
    padding-bottom: 0;
    padding-top: 0;
}

.modal .col-8 {
    padding-left: 10px !important;
}

.modal h2 {
    margin-bottom: 10px;
}

}

@media screen and (max-width: 600px) {

    .container-locations h1 {
        font-size: 32px;
        margin-top: 0;
    }

.container-locations .locations .card1 p,
.container-locations .show-all .locations-all .card1 p{
    display: inline-block;
}

.container-locations .locations .card1 h5,
.container-locations .show-all .locations-all .card1 h5 {
    font-size: 24px;
}

.container-locations .locations {
    padding-top: 15px;
}

.container-locations .summary{
        font-size: 16px;

    }

.container-locations hr {
      
        margin: 10px;
    }

    .container-locations {
        padding-top: 70px;
    }
   
}



@media screen and (max-width: 500px) {

    .container-locations .locations, 
    .container-locations .show-all .locations-all {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .container-locations .show-all .locations-all .card1 .about-btn,
    .container-locations .locations .card1   .about-btn{
        font-size: 16px;
    }

    .container-locations .info {
        gap: 50px;
    }

    .container-locations .info h2 a {
        font-size: 30px;
    }

    .container-locations .locations .card1 p,
    .container-locations .show-all .locations-all .card1 p {
      
        margin-bottom: 10px;
    }

    .container-locations .locations .card1,
    .container-locations .show-all .locations-all .card1 {
        width: 100vw;
       
    }

    .container-locations .locations,
    .container-locations .show-all .locations-all  {
     gap: 0px;
    }

    .container-locations select {
        width: auto;
        margin-left: 10px;
    }

    .container-locations h1 {
        font-size: 28px;
    }

    .container-locations .locations .card1 .modal .modal-body .col-4 p {
        display: none;
    }

    .container-locations .locations .card1 .modal .col-8 {
        width: 100%;
        
    }

    .container-locations .locations .card1 .modal .swiper-button-next:after,
    .container-locations .locations .card1 .modal  .swiper-button-prev:after 
     {
        font-size: 22px;
    }

    .modal h2,
    .modal h3 {
     margin-bottom: 4px;
     font-size: 18px;
    }

    .modal .btn-close {
        width: 10px;
      
    }

    .container-locations .locations .card1 .modal .modal-footer .btn {
        font-size: 10px;
        height: 20px;
        margin-top: 10px;
        border-radius: 3px;
        margin: 0 auto;
        display: block;
        margin-top: 5px;
    }

    
    
}

@media screen and (max-width: 400px) {

    .container-locations .summary p,
    .container-locations .locations .card1 p,
    .container-locations .show-all .locations-all .card1 p{
        font-size: 16px;
    }
}
  
@media screen and (max-width: 350px) {
    .container-locations h1 {
        font-size: 22px;
        padding-left: 20px;
    }
}