 /*Reset CSS*/
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body {
     line-height: 1;
 }
 ol, ul {
     list-style: none;
 }
 blockquote, q {
     quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: '';
     content: none;
 }
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }

 /***WRAPPER***/


 .wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto; 
}

.center {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}


/************HEADER*************/

.container-navigation header {
    background-color: #030823;
  position: fixed;
  z-index: 100;
}

.container-navigation header img {
    
    height: 95px;
    padding: 8px 31px 8px 70px;
}

.container-navigation .emblem {   /*!!!!!!!*/
    display: flex;
    float: left;
}

.container-navigation .emblem .language select {
    background-color: transparent;
    font-family: Manrope;
    color: #F4F6FF;
    border: 0;
    font-size: 18px;
    margin-top: 34px;
    margin-right: 150px;
    width: 37px;
    appearance: none; 
    overflow: hidden;
    border: 0;
    background: url('../images/rectangle.svg');
    background-repeat: no-repeat;
    background-position: 27px;
    outline: none;
    -moz-appearance: none;
-webkit-appearance: none;
}

.container-navigation .emblem .language select option {
    background-color: #030823;
}



.container-navigation header .menu ul {
    display: flex;
    gap: 50px;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;
   
}

.container-navigation header .menu ul li a {
    color: #F4F6FF;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.container-navigation header .menu ul li a:hover{
    text-decoration: underline;
}

.container-navigation header .menu .tour a{
    color: #030823;
    display: block;
    padding: 8px 35px;
    text-align: center;
    font-family: Manrope;
    font-size: 19px;
    font-weight: 400;
    background-color: #F4F6FF;
    border-radius: 7px;
    transition: 1s;
    box-sizing: border-box;
    margin-left: 97px;
}

.container-navigation header .menu .tour a:hover {
    color:#F4F6FF;
    background-color: #162161;
    text-decoration: none;
}



/*CARUSEL*/





.container-carusel .slideshow-container .mySlides .text {
    position: relative;
    bottom: 150px;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
}

.container-carusel .slideshow-container .mySlides .text h2 {
    color: #F4F6FF;
    font-family: Oswald;
    font-size: 62px;
    font-weight: 400;
    line-height: 100.6%;
    letter-spacing: 0.62px;
    position: relative;
    width: 800px;
    text-align: left;
    
}

.container-carusel .slideshow-container .mySlides .text p{
    color:  #F4F6FF;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 300;
    line-height: 116.667%;
    letter-spacing: -0.18px;
    width: 524px;
    text-align: left;
    left: 300px;
    position: relative;
    top: 15px;
    width: 400px;
}



.container-carusel .slideshow-container .mySlides img {
    max-width: 1440px;
    min-width: 1440px;
    height: 800px;
    margin-bottom: -140px;
    object-fit: cover;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1440px;
  
  margin: auto;
  padding-top: 93px;
  
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
  position: relative;
  bottom: 40px;
    
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.7} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.7} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}



/*LOCATIONS*/

.container-locations {
    background-color: #F4F6FF;
}

.container-locations .info {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 55px;
    gap: 242px;
    margin-top: -17px;
}

.container-locations .info h2 a{
    text-decoration: none;
    color:#030823;
    font-family: Oswald;
    font-size: 50px;
    font-weight: 400;
    line-height: 100.6%;
    letter-spacing: 0.5px;
}

.container-locations .info h2 a:hover{
    text-decoration: underline;
}

.container-locations .locations {
    display: grid;
    justify-content: center;
    grid-template-columns: 413px 413px 413px;
    column-gap: 31px;
}

.container-locations .locations .card {
box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
text-align: left;
margin-bottom: 31px;


}

.container-locations .locations .card img {
    width: 373px;
    height: 250px;
    padding: 20px 20px 15px 20px;
}

.container-locations .locations .card h5 {
    color: #030823;
    font-family: Oswald;
    font-size: 30px;
    font-weight: 400;
    line-height: 100.6%;
    letter-spacing: 0.3px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.container-locations .locations .card p {
    color:#030823;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 300;
    line-height: 116.667%;
    letter-spacing: -0.18px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}


.container-locations .locations .card details summary {
    color:  #5D5E8C;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    margin: 40px 151px;
    cursor: pointer;
    display: block;
    cursor: pointer;
}

.container-locations .locations .card details summary:hover {
    text-decoration: underline;
}

.container-locations .show-all .all-locations{
    color: #030823;
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 122.222%;
    width: 267px;
    height: 52px;
    border: 1px solid black;
    border-radius: 7px;
    display: block;
    cursor: pointer;
    margin-top: 35px;
    margin-bottom: 55px;
    justify-content: center;
    margin-left: 587px;
    transition: 1s;
    padding: 14px 35px;
    transition: 1s;
    box-sizing: border-box;
}


/***CONTAINER ABOUT***/

.container-about {
    background-color: #F4F6FF;
    padding-bottom: 40px;
}

.container-about h2 {
    color: #030823;
    font-family: Oswald;
    font-size: 62px;
    font-weight: 400;
    line-height: 100.6%; 
    letter-spacing: 0.62px;
    padding-left: 70px;
    padding-bottom: 42px;
}

.container-about .center p,
.container-about .center ul {
    color: #030823;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 300;
    line-height:  137%;
    letter-spacing: normal;
    padding-left: 70px;
    padding-right: 70px;
    text-align: justify;
    text-indent: 50px;
}

.container-about .center ul {
    list-style-type: disc;
    margin-left: 70px;
    text-indent: 5px;
}





/***CONTAINER MAP***/
/***
.container-map{
    background-color:  #F4F6FF;
}

.container-map h2 {
    color:#030823;
    font-family: Oswald;
    font-size: 62px;
    font-weight: 400;
    line-height: 100.6%;
    letter-spacing: 0.62px;
    padding-left: 70px;
    padding-top: 126px;
}

.container-map .content .info {
    padding-left: 70px;
}


.container-map .content .info ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    gap: 60px;

   
}

.container-map .content .info h5 {
    color: #030823;
    font-family: Oswald;
    font-size: 30px;
    font-weight: 400;
    line-height: 100.6%;
    letter-spacing: 0.3px;
    padding-bottom: 20px;
}

.container-map .content .info ul {
color: #030823;
font-family: Manrope;
font-size: 20px;
font-weight: 300;
letter-spacing: 0px;
cursor: pointer;
}

.container-map .content .info ul li {
    margin-bottom: 10px;
}

.container-map .content .info ul li strong {
    font-weight: 600;
    text-decoration: underline;
    display: block;
    padding-bottom: 6px;
}


.container-map .content .info ul li details hr {
    color: wheat;
}



***/

/***CONTAINER FOOTER***/

.map {
    margin-bottom: -3px;}


.container-footer {
    background-color: #030823;
}

.container-footer footer .ucp a p {
    color:  #9A9BD0;
    font-family: Manrope;
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 8px; 
    padding-left: 20px;
    padding-right: 20px;
    
}

.container-footer footer .ucp a{
    display: flex;
    text-decoration: none;
}

.container-footer footer .ucp a .emblem {
    width: 148px;
    height: 148px;
    display: block;
}

.container-footer footer .info {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 270px 336px 296px 350px 100px;
    padding-top: 70px;
    padding-left: 70px;
    justify-content: space-between;
    padding-bottom: 80px;
}

.container-footer .center .geraldika {
    display: flex;
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 70px;
}


.container-footer footer .contacts,
.container-footer footer .menu
 {
    padding-left: 70px;
}

.container-footer footer .contacts h6,
.container-footer footer .menu h6,
.container-footer footer .payments h6 {
    color:  #9A9BD0;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;
}

.container-footer footer .contacts ul li a,
.container-footer footer .menu ul li a {
    color:  #F4F6FF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
}

.container-footer footer .payments ul {
    display: flex;
    gap: 17px;
}



.container-footer footer .up {
    height: 64px;
    padding-left: 230px;
}


.container-footer .ucp-bottom {
    color:  #F4F6FF;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 18px;
}



/********Auto Carousel*******/

@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.slider {
    background: #030823;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, #030823 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 150px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 150px;
    width: 160px;
}
