/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***WRAPPER***/


.wrapper {
   max-width: 1440px;
   width: 100%;
   margin: 0 auto; 
}

.center {
   max-width: 1440px;
   margin: 0 auto;
   width: 100%;
}





/***CONTAINER INFO***/

.container-info {
    background-color:  #F4F6FF;
    padding-top: 70px;
}

 .container-info h1 {
    padding-left: 70px;
    color: #030823;
    font-family: Oswald;
    font-size: 62px;
    font-weight: 400;
    line-height: 100.6%;
    letter-spacing: 0.62px;
    padding-top: 70px;
 }

 .container-info .month h2 {
color: #5D5E8C;
font-family: Manrope;
font-size: 35px;
font-weight: 800;
 }

 .container-info .month img {
    width: 47px;
    height: 47px;
 }

 .container-info .month {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 29px;
    padding-left: 181px;
    padding-top: 55px;
    margin-bottom: 10px;
 }

 .container-info .month-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 7px 70px ;
}

.container-info .lessons-table .swiper  .month-slider a img {
    width: 35px;
    height: 35px;
}

.container-info .lessons-table table tr,
.container-info .lessons-table table td,
.container-info .lessons-table table th {
    border: 1px solid;
    width: 218px;
}



.container-info .lessons-table table {
    padding-bottom: 60px;
    display: block;
    padding-top: 11px;
   
}

.container-info .lessons-table table tr th div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 44px;
}

.container-info .lessons-table table tr th div .date,
.container-info .lessons-table table tr th div .day{
    color:  #030823;
    font-family: Oswald;
    font-size: 30px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    
}

.container-info .lessons-table table tr th{
    height: 44px;
}



.container-info hr {
    background-color: black;
    height: 1px;
    border: 0;
}

.container-info .lessons-table table tr td ul .time {
    color: #030823;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 2px;
} 

.container-info .lessons-table table tr td ul .time::before{
    content: '●';
    color: green;
    border-radius: 50%;
    width: 3px;
    height: 3px;
    border: 1;
    padding-right: 8px;
}

.container-info .lessons-table table tr td ul .age {
    color:  #030823;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 7px;
}

.container-info .lessons-table table tr td ul .theme {
    color: #030823;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 400;
    line-height: 115.6%; 
    padding-left: 10px;
    padding-top: 7px;
}

.container-info .lessons-table table tr td ul .place-left,
.container-info .lessons-table table tr td ul .price {
    color:  #5D5E8C;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 5px;
}

.container-info .lessons-table table tr td ul .place-left span,
.container-info .lessons-table table tr td ul .price span {
    color: #030823;
    text-align: center;
    font-family: Manrope;
    font-size: 17px;
    font-weight: 400;
    padding-left: 4px;
}

.container-info .lessons-table table tr td button {
    color: #030823;
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    width: 196px;
    height: 32px;
    margin: 16px 10px;
    background-color: #F4F6FF;
    border: 1px solid black;
    border-radius: 6px;
   
}

.container-info .lessons-table table tr td button:hover {
    background-color: #030823;
    color: #F4F6FF;
}

.container-info .lessons-table table tr .no-lessons{
    color: #5D5E8C;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}


/*.container-info .lessons-table .swiper-button-next {
    position: relative;
    left: 1340px;
    bottom: 1125px;
    opacity: 1;
    border: 20px solid transparent; border-left: 20px solid green;
    
}

.container-info .lessons-table .swiper-button-prev {
    position: relative;
    left: 75px;
    bottom: 1150px;


    border: 20px solid transparent; border-right: 20px solid green;
}*/


.swiper-button-next {display: none;}

.container-info .information {
    margin: 0;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 60px;
    color: #030823;
    font-family: manrope;
    font-size: 17px;
    font-weight: 0;
    line-height: 130%;
    letter-spacing: 0.62px;
    text-align: center;
}

/* ***********************MODAL*********************** */

.modal .modal-content {
    /* background-color: #F4F6FF; */
    border-radius: 0;
    background-color: #fdfdff;
}

.modal .modal-content .modal-body input,
.modal .modal-content .modal-body textarea {
    background-color: #fdfdff;
    border-radius: 4px;
    border: solid #0b1654 1px;
}

.modal .modal-content label {
    margin: 0;
    color: #030823;
    font-family: manrope;
    font-size: 17px;
    font-weight: 0;
    line-height: 130%;
    letter-spacing: 0.62px;
}

.modal h5 {
    margin: 0;
    color: #030823;
    font-family: manrope;
    font-size: 26px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.62px;
}

.modal .modal-content .modal-footer button {
    color: #030823;
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    background-color: #F4F6FF;
    border: 1px solid #858586;
    border-radius: 6px
}

.modal .modal-content .modal-footer button:hover{
    background-color: #030823;
    color: #F4F6FF;
}

.modal .btn-close {
    color: #030823;
    border: 0;
}

.map {
    margin-bottom: -3px;}



/* ****************************ADAPTIVE******************* */


@media screen and (max-width: 1375px) {
    



}


@media screen and (max-width: 1300px) {
    

    .container-info .information {
     
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        font-size: 17px;
        font-weight: 0;
        line-height: 120%;
        letter-spacing: 0.62px;
        text-align: center;
    }


    .container-info .lessons-table table {
        padding-bottom: 30px;
        padding-top: 11px;
       
    }

  

}


@media screen and (max-width: 1200px) {
   

}


@media screen and (max-width: 1060px){

    .container-carusel .swiper {
        height: 50vh;
      }

      .container-carusel .swiper .swiper-slide .text {
        bottom: 380px;
      }


  


}



@media screen and (max-width: 900px) {

.container-info h1 {
    font-size: 50px;
}
    .container-info .month {
        padding-top: 40px;
    }

    .container-info h1 {
        padding-top: 60px;
    }
}





@media screen and (max-width: 700px) {

    .container-info .information {
        font-size: 14px;
        text-align: start;
    }

    .container-info .month-slider {
        
        padding: 6px 40px;
    }

    .container-info .month {
        padding-left: 90px;
        padding-top: 20px;
    }

   

}


@media screen and (max-width: 600px) {

}


@media screen and (max-width: 500px) {

    .container-info .information {
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-info .month-slider {
        
        padding: 6px 20px;
    }

    .container-info .month {
        padding-left: 50px;
        padding-top: 20px;
        gap: 10px;
        align-items: center;
        
    }


    .container-info h1 {
        padding-left: 40px;
        font-size:  40px;
    }

    .container-info .month h2 {
        font-size: 30px;
    }

    .container-info hr {
        margin: 0;
    }

    .container-info .lessons-table table {
        padding-top: 0;
    }

    .container-info .lessons-table .month-slider .left-arrow,
    .container-info .lessons-table .month-slider .right-arrow{
        width: 25px;
        height: 25px;
    }

  }



@media screen and (max-width: 400px) {
    .container-info .information {
        font-size: 12px;
        text-align: start;
    }
   
}
  