/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

 /*Reset CSS*/
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body {
     line-height: 1;
 }
 ol, ul {
     list-style: none;
 }
 blockquote, q {
     quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: '';
     content: none;
 }
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }

 /***WRAPPER***/


 .wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto; 
}

.center {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}


/************HEADER*************/

.container-navigation header {
    background-color: #030823;
  position: fixed;
  z-index: 1080;
}

.container-navigation header img {
    
    height: 95px;
    padding: 8px 31px 8px 70px;
}

.container-navigation .emblem {   /*!!!!!!!*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
}

.container-navigation .emblem .language select {
    background-color: transparent;
    font-family: Manrope;
    color: #F4F6FF;
    font-size: 18px;
    margin-top: 34px;
    margin-right: 150px;
    width: 37px;
    appearance: none; 
    overflow: hidden;
    border: 0;
    background: url('../images/rectangle.svg');
    background-repeat: no-repeat;
    background-position: 27px;
    outline: none;
    -moz-appearance: none;
-webkit-appearance: none;
}

.container-navigation .emblem .language select option {
    background-color: #030823;
}



.container-navigation header .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;
   
}

.container-navigation header .menu ul li a {
    color: #F4F6FF;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.container-navigation header .menu ul li a:hover{
    text-decoration: underline;
}

.container-navigation header .menu .tour a{
    color: #030823;
    display: block;
    padding: 8px 35px;
    text-align: center;
    font-family: Manrope;
    font-size: 19px;
    font-weight: 400;
    background-color: #F4F6FF;
    border-radius: 7px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 97px;
}

.container-navigation header .menu .tour a:hover {
    color:#F4F6FF;
    background-color: #030823;
    text-decoration: none;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}





/*CARUSEL*/

.container-carusel .swiper {
    width: 100%;
    height: 100%;
    padding-top: 90px;
  }

  .container-carusel  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    -webkit-box-pack: center;
    
        -ms-flex-pack: center;
    
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 803px;
  }

  .container-carusel  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }



  .container-carusel  .swiper-slide .text {
    position: relative;
    bottom: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 70px;
  }

  .container-carusel  .swiper-slide a {
    text-decoration: none;
  }

  .container-carusel  .swiper-slide .text h2  {
    color: #F4F6FF;
    font-family: Oswald;
    font-size: 62px;
    font-weight: 400;
    line-height: 100.6%;
    letter-spacing: 0.62px;
    position: relative;
    width: 800px;
    text-align: left;
    
  }

  .container-carusel  .swiper-slide .text p {
    color:  #F4F6FF;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 300;
    line-height: 116.667%;
    letter-spacing: -0.18px;
    width: 524px;
    text-align: left;
    left: 300px;
    position: relative;
    top: 15px;
    width: 400px;
    
  }

  .container-carusel .swiper-button-next, 
  .container-carusel .swiper-button-prev
 {
   color: #fff;
  }

  .container-carusel .swiper-pagination .swiper-pagination-bullet{
    background-color: #fff;
  }





/*LOCATIONS*/

.container-locations {
    background-color: #F4F6FF;
}

.container-locations .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 70px;
    padding-bottom: 55px;
    gap: 242px;
    margin-top: -17px;
}

.container-locations .info h2 a{
    text-decoration: none;
    color:#030823;
    font-family: Oswald;
    font-size: 50px;
    font-weight: 400;
    line-height: 100.6%;
    letter-spacing: 0.5px;
}

.container-locations .info h2 a:hover{
    text-decoration: underline;
}

.container-locations .locations,
.container-locations .show-all .locations-all {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 407px 31px 407px 31px 407px;
    grid-template-columns: 407px 407px 407px;
    -webkit-column-gap: 31px;
       -moz-column-gap: 31px;
            column-gap: 31px;

}

.container-locations .locations .card1,
.container-locations .show-all .locations-all .card1 {
-webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
text-align: left;

}

.container-locations .show-all .locations-all .card1 {
    margin-bottom: 31px;
}

.container-locations .locations .card1 {
    text-align: center;
}

.container-locations .locations .card1 img,
.container-locations .show-all .locations-all .card1 img {
    width: 400px;
    height: 270px;
    padding: 15px;
    border-radius: 19px;
}

.container-locations .locations .card1 h5,
.container-locations .show-all .locations-all .card1 h5 {
    color: #030823;
    font-family: Oswald;
    font-size: 30px;
    font-weight: 400;
    line-height: 100.6%;
    letter-spacing: 0.3px;
    padding-left: 20px;
    padding-bottom: 15px;
    text-align: left;
}

.container-locations .locations .card1 p,
.container-locations .show-all .locations-all .card1 p {
    color:#030823;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 300;
    line-height: 116.667%;
    letter-spacing: -0.18px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    text-align: left;
}



.container-locations .locations .card1 a,
.container-locations .locations-all .card1 a{
    color:  #5D5E8C;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-bottom: 40px;
}


.container-locations .locations .card1 a:hover,
.container-locations  .locations-all .card1 a:hover {
    text-decoration: underline;
    color:  #030823;
}



.container-locations .show-all .all-locations
{
    color: #030823;
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 122.222%;
    width: 267px;
    height: 52px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 7px;
    display: block;
    cursor: pointer;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 35px auto;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    padding: 14px 35px;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}

.container-locations .show-all .all-locations:hover {
    background-color: #030823;
    color: #F4F6FF;
}

.container-locations .show-all .all-locations:focus{
    display: none;
}

.container-locations .show-all .locations-all {
    margin-top: 31px;
}




.container-locations .locations .card1 
 {
    background-color: #F4F6FF;
}


.container-locations .btn {
    border: 0;
}

.popover-body{
    background-color: #F4F6FF;
    color: #030823;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 300;
    line-height: 116.667%;
    letter-spacing: -0.18px;
    text-align: left;
    /* border: solid rgba(0, 0, 0, 0.1) 1px;
    width: 407px; */
    /* border-radius: 7px; */
  
    
}

/* .custom-popover {
    --bs-popover-max-width: 210px;
    --bs-popover-border-color: var(--bs-primary);
    --bs-popover-header-bg: var(--bs-primary);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
  } */

  
.popover {
    min-width:390px;
    max-width:800px;
   
}
  
.bs-popover-auto[data-popper-placement^=top]>.popover-arrow::after, 
.bs-popover-end>.popover-arrow::after {
   
   display: none;
} 



/***CONTAINER ABOUT***/




.container-about {
    background-color: #F4F6FF;
    padding-bottom: 40px;
}

.container-about h2 {
    color: #030823;
    font-family: Oswald;
    font-size: 62px;
    font-weight: 400;
    line-height: 100.6%; 
    letter-spacing: 0.62px;
    padding-top: 20px
}

.container-about .abot {
    color: #030823;
    font-family: Oswald;
    font-size: 62px;
    font-weight: 400;
    line-height: 100.6%; 
    letter-spacing: 0.62px;
    padding-left: 70px;
    padding-bottom: 42px;
    
}

.container-about .center p,
.container-about .center ul {
    color: #030823;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 300;
    line-height:  137%;
    letter-spacing: normal;
    padding-left: 70px;
    padding-right: 70px;
    text-align: justify;
    text-indent: 70px;
    
}

.container-about .center ul {
    list-style-type: disc;
    margin-left: 70px;
    text-indent: 5px;
}

.container-about .center h3 {
    color: #030823;
    font-family: Oswald;
    font-size: 32px;
    font-weight: 400;
    line-height: 100.6%; 
    letter-spacing: 0.62px;
    padding-left: 70px;
    padding-bottom: 22px;
    padding-top: 22px;
    text-indent: 70px;
}



.container-about .map iframe {
    width: 630px;
    height: 430px;
}



.container-about .center .city-show {
    width: 65%;
    
}

.container-about .center .info{
    color: #030823;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0px;
    cursor: pointer;
    list-style-type: none;
}



.container-about .center .city-show .show .about strong{
    font-weight: 600;
}

.container-about .center .city-show .btn {
    color: var(--, #030823);
    font-family: Manrope;
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    line-height: 84%;
    letter-spacing: -0.25px;
    text-transform: uppercase;
    border: 0; 
}

/* .container-about .center .city-show .btn:hover {
    text-decoration: underline;
} */

.city-show .btn {

    --bs-accordion-btn-icon-width: 0;
}

.container-about .center .city-show .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}


.container-about .center .city-show  img {
    width: 220px;
    -webkit-box-shadow: 0px 0px 11px 4px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 0px 11px 4px rgba(34, 60, 80, 0.2);
     margin-top: 25px;
}

.container-about .center .city-show p {
    padding: 0;
    margin: 0;
}

.container-about .center .city-show .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr;
    grid-template-columns: 3fr 1fr;
}


.container-about .center .city-show .about hr {
    padding: 0;
    margin: 0;
}


.container-about .center .city-show .card {
    background-color: #F4F6FF;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0;
    border-radius: 0;
    padding-bottom: 20px;
}

.container-about .center .city-show .btn  {
    margin-bottom: 8px;

}

.container-about .center .city-show .btn {
    border-bottom: solid 1px rgb(189, 189, 189);
    padding-bottom: 10px;
    width: 300px;
    text-align: left; 
    font-weight: 500;
}

.container-about .center .city-show .row .col:nth-child(1){
    width: 300px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
}

.container-about .center .city-show .row {width: 200px;}

/* .container-about .center .city-show:nth-of-type(3),
.container-about .center .city-show:nth-of-type(4){
    
  margin-top: -81px;
} */

.container-about .MultiCollapse {
  padding-left: 70px;
}

/* .container-about .MultiCollapse .city-show {
    padding-left: 70px;
  } */

.container-about .MultiCollapse h6 {
    color: var(--, #030823);
font-family: Oswald;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 100.6%;
letter-spacing: 0.3px;
margin: 0 auto;
display: inline-block;
padding-bottom: 20px;
}


.container-about .map {
    /* box-shadow: 0px 0px 14px 12px rgba(34, 60, 80, 0.2); */
    margin-left: 90px; 
    margin-bottom: 180px;
}




















/* 



.container-about .center .accordion {
    width: 65%;
    margin: 0 auto;
}

.container-about .center .info{
    color: #030823;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0px;
    cursor: pointer;
    list-style-type: none;
}


.container-about .center .accordion .accordion-button{
    font-weight: 400;
}

.container-about .center .accordion .accordion-item .show .about strong{
    font-weight: 600;
}

.container-about .center .accordion .accordion-button {
    text-transform: uppercase;
    color: #030823;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 100.6%;
    letter-spacing: 0.62px;
    
}

.accordion-button {

    --bs-accordion-btn-icon-width: 0;
}

.container-about .center .accordion .accordion-item .show .about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.container-about .center .accordion .accordion-item .show .about img {
    width: 40%;
    box-shadow: 0px 0px 14px 12px rgba(34, 60, 80, 0.2);
}

.container-about .center .accordion .accordion-item .show .about {
    padding-bottom: 32px;
    padding-top: 32px;
}

.container-about .center .accordion .accordion-item .show .about hr {
    padding: 0;
    margin: 0;
}


.container-about .center .accordion .accordion-item,
.container-about .center .accordion .accordion-button  {
    background-color: #F4F6FF;
    box-shadow: none;
} */







/***CONTAINER FOOTER***/

.map {
    margin-bottom: -3px;}


.container-footer {
    background-color: #030823;
}

.container-footer footer .ucp a p {
    color:  #9A9BD0;
    font-family: Manrope;
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 8px; 
    padding-left: 20px;
    padding-right: 20px;
    
}

.container-footer footer .ucp a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
}

.container-footer footer .ucp a .emblem {
    width: 148px;
    height: 148px;
    display: block;
}

.container-footer footer .info {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 270px 336px 296px 350px 100px;
    grid-template-columns: 270px 336px 296px 350px 100px;
    padding-top: 70px;
    padding-left: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 80px;
    padding-left: 100px;
}

.container-footer footer .info > *:nth-child(1) {
     -ms-grid-row: 1;
     -ms-grid-column: 1;
}

.container-footer footer .info > *:nth-child(2) {
     -ms-grid-row: 1;
     -ms-grid-column: 2;
}

.container-footer footer .info > *:nth-child(3) {
     -ms-grid-row: 1;
     -ms-grid-column: 3;
}

.container-footer footer .info > *:nth-child(4) {
     -ms-grid-row: 1;
     -ms-grid-column: 4;
}

.container-footer footer .info > *:nth-child(5) {
     -ms-grid-row: 1;
     -ms-grid-column: 5;
}

.container-footer .center .geraldika {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 70px;
}


.container-footer footer .payments ul li:hover,
.container-footer footer .contacts ul li a:hover{
    cursor: pointer;
}

.container-footer footer .contacts h6,
.container-footer footer .menu h6,
.container-footer footer .payments h6 {
    color:  #9A9BD0;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;
    padding-left: 30px;
}

.container-footer footer .contacts ul li a,
.container-footer footer .menu ul li a {
    color:  #F4F6FF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
}

.container-footer footer .menu ul li a:hover {
    text-decoration: underline;
    }

.container-footer footer .payments ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 17px;
}



.container-footer footer .up {
    height: 64px;
    padding-left: 230px;
}


.container-footer .ucp-bottom {
    color:  #F4F6FF;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
   
    padding-bottom: 18px;
}



/********Auto Carousel*******/

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
   }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
                transform: translateX(calc(-250px * 7));
   }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
   }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
                transform: translateX(calc(-250px * 7));
   }
}
.slider {
    background: #030823;
    -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
            box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}
.slider::before, .slider::after {
    background: -webkit-gradient(linear, left top, right top, from(#030823), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(left, #030823 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, #030823 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 150px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
        -ms-transform: rotate(180deg);
            transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    -webkit-animation: scroll 80s linear infinite;
            animation: scroll 80s linear infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 150px;
    width: 160px;
}




/* BURGER */

.container-navigation .menu ul .close{
    display: none;
}

.container-navigation .menu .burger{
    display: none;
}

.container-navigation .menu .burger img {
    width: 30px;
}

/* BURGER */






/* ****************************ADAPTIVE******************* */


@media screen and (max-width: 1375px) {
    

    .container-navigation .emblem .language select {
        margin-right: 50px;
    }

    .container-footer .info .up .arrow {
        padding-left: 0;
    }

    .container-footer footer .info {
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
    }

    .container-footer footer .info > *:nth-child(1) {
          -ms-grid-row: 1;
          -ms-grid-column: 1;
       
    }

    .container-footer footer .info > *:nth-child(2) {
          -ms-grid-row: 1;
          -ms-grid-column: 2;
       
    }

    .container-footer footer .info > *:nth-child(3) {
          -ms-grid-row: 1;
          -ms-grid-column: 3;
       
    }

    .container-footer footer .info > *:nth-child(4) {
          -ms-grid-row: 1;
          -ms-grid-column: 4;
       
    }

    .container-navigation header .menu .tour a {
        -ms-flex-item-align: end;
            align-self: flex-end;
    }

    .container-navigation header .menu .tour a {
        margin: 0;
    }

    .container-navigation header .menu ul {
  
        gap: 60px;
        padding-left: 0;
        margin-left: 30px;
       
    }

    .container-about .d-flex .MultiCollapse {
        padding-left: 20px;
    }


}


@media screen and (max-width: 1300px) {
    
    .container-navigation header img{
        padding-left: 40px;
    }

    



.container-navigation header .menu ul a {
    font-size: medium;
}


    .container-locations .locations, 
    .container-locations .show-all .locations-all {
        /* grid-template-columns: 340px 340px 340px; */
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 40px;
        padding-right: 40px;
    }



    .container-locations .locations .card1,
    .container-locations .show-all .locations-all .card1 {
        width: auto;
       
        text-align: center;
    }

    .container-locations .locations .card1 a, 
    .container-locations .show-all .locations-all .card1 a {
        padding-bottom: 15px;
        position: relative;
    }

    .container-locations .locations .card1 img,
    .container-locations .show-all .locations-all .card1 img{
        width: 100%;
       height: auto;
        /* height: 210px; */
    }

    

    .container-footer footer .info {
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
    }

    

    .container-footer footer .info > *:nth-child(1) {
          -ms-grid-row: 1;
          -ms-grid-column: 1;
       
    }

    

    .container-footer footer .info > *:nth-child(2) {
          -ms-grid-row: 1;
          -ms-grid-column: 2;
       
    }

    

    .container-footer footer .info > *:nth-child(3) {
          -ms-grid-row: 1;
          -ms-grid-column: 3;
       
    }

    

    .container-footer footer .info > *:nth-child(4) {
          -ms-grid-row: 1;
          -ms-grid-column: 4;
       
    }

    .container-footer footer .up {
        padding-left: 90px;
    }


    .slider {
        width: 60%;
      
        height: 110px;
    }

    .slider .slide {
        height: 100px;
        width: 105px;
        margin-right: 50px;
    }

    .container-about .d-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .container-about .d-flex .MultiCollapse {
        margin-top: -150px;
        margin-right: 150px;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }

    .container-about .d-flex  .map {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }

  


    .container-footer footer .contacts h6,
.container-footer footer .menu h6,
.container-footer footer .payments h6 {
  
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 8px;
}

.container-footer footer .contacts ul li a,
.container-footer footer .menu ul li a {
  
    font-size: 18px;
    font-weight: 400;
    
}

}


@media screen and (max-width: 1200px) {
    .container-navigation header .menu ul {
        gap: 55px;
    }

    .container-navigation header .menu ul a{
        font-size: small;
    }

    .container-navigation header .language {
        display: none;
    }

    .container-locations .locations .card1 h5 {
        font-size: 27px;
    }

    .container-locations .locations .card1 p {
        font-size: 16px;
    }
}


@media screen and (max-width: 1060px){

    .container-carusel .swiper {
        height: 50vh;
      }

      .container-carusel .swiper .swiper-slide .text {
        bottom: 380px;
      }

    .slider .slide {
        margin-right: 60px;
    }

    .container-navigation header .menu ul li:nth-child(4),
    .container-navigation header .menu ul li:nth-child(5) {
        display: none;
    }

    .container-footer footer .contacts ul li a,
.container-footer footer .menu ul li a {
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 0;
}

    .container-footer .payments {
        display: none;
    }

    .container-footer footer .info {
  
       -ms-grid-columns: 1fr 1fr 1fr;
  
       grid-template-columns: 1fr 1fr 1fr;
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }

    .container-navigation header .menu ul {
        gap: 75px;
    }

    .container-footer .ucp-bottom {
        font-size: 8px;
        padding-top: 30px;
    }

    .container-locations .locations .card1 p{
        height: 100px;
    }



}



@media screen and (max-width: 900px) {

/* 
.container-locations .info{
        display: none;
      } */


.container-locations .locations, 
.container-locations .show-all .locations-all {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

.container-about .map {
        margin: 0 auto;
       
    }


.container-locations .locations .card1:nth-last-of-type(3) {
       display: none;
    }

    .container-footer footer .contacts ,
.container-footer footer .menu,
.container-footer footer .payments {
    padding: 0;
}
.container-footer footer {
    padding-left: 40px;
}

.container-footer .ucp {
    margin-top: 40px;
    padding-left: 40px;
}

.container-footer .geraldika .ucp p {
    font-size: 20px;
}

.container-footer .geraldika .ucp img {
    width: 10px;
}



.container-about .abot,
.container-about .center p {
    padding-left: 20px;
    padding-right: 20px;
    text-indent: 20px;
}

.container-about .abot{
    font-size: 52px;
}

.container-about .center h3{
    font-size: 29px;
    padding: 0;
    padding-left: 20px;
    text-indent: 20px;
}

.container-about .center .abot h3 {
    padding: 0;
    margin: 0;
}

.container-about .center .abot ul {
    padding: 0;
}

.container-about .map iframe {
    margin-bottom: 40px;
}

.container-about .d-flex {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
 
}

.container-about .d-flex .MultiCollapse {
    margin-top: 0;
}

.container-about .d-flex .MultiCollapse h6 {
    margin-bottom: 20px;
    font-size: 24px;
}


.container-about .d-flex .MultiCollapse .city-show .btn {
    font-size: 15px;
}



.container-about .d-flex .MultiCollapse{
  padding-right: 200px;
}

.container-footer footer .info {
    padding: 0;
    padding-top: 25px;
}

.container-footer footer .info .up {
    padding: 0;
    
}
.container-footer footer .info .up img {
    height: 50px;
}

.slider .slide {
    height: 80px;
    width: 71px;
    margin-right: 80px;
}

.container-navigation header .menu .tour {
    margin-left: 36px;
}

.container-navigation header .menu ul {
    gap: 30px;
}

.container-footer .ucp-bottom {
    font-size: 8px;
    margin-bottom: 0;
}


.container-footer .geraldika{
    padding: 0 !important;
}



}


@media screen and (max-width: 750px) {
    .container-navigation header .menu .tour a {
        font-size: 14px;
    }

    .container-navigation header .menu ul li a {
        font-size: 14px;
    }

    .container-navigation header .menu ul{
        gap: 25px;
    }

    .slider {
        display: none;
    }

    .container-navigation header .menu ul {
        gap: 30 px;
    }

    .container-footer .geraldika .ucp a img {
        width: 100px;
        height: 100px;
    }

    .container-footer .info {
       justify-items: flex-end;
    }

    .container-footer .info {
        margin-right: 30px;
    }

    .container-carusel .swiper-slide .text h2 {
        font-size: 44px;
    }


    .container-carusel  .swiper-slide .text p {
        left: 50px;
        font-size: 15px;
    }

    .container-locations .info {
        gap: 120px;
       
    }

    .container-navigation header .menu .tour {
        margin-left: 0px;
    }

} 




@media screen and (max-width: 700px) {

.container-carusel .swiper .swiper-slide .text h2 {
    font-size: 40px;
}

.container-carusel  .swiper-slide .text p {
    left: 50px;
    font-size: 15px;
}

.container-locations .info {
    gap: 100px;
   
}

.container-navigation header .menu ul{
    gap: 20px;
}


.container-locations .info h2 a {
    font-size: 40px;
}

.container-about .map iframe {
    width: 500px;
    height: 250px;
}

.container-carusel .swiper {
    height: 50vh;
  }

  .container-carusel .swiper .swiper-slide .text {
    bottom: 400px;
  }

  /* .container-carusel .swiper .swiper-slide img {

  } */

  .container-about .abot {
    font-size: 41px;
    padding: 20px;
    margin: 0;

  }

  .container-about .abot p {
    padding: 20px;
  }

  .container-carusel .swiper .swiper-button-next,
  .container-carusel .swiper .swiper-button-prev{
       --swiper-navigation-size: 30px;
  }


}


@media screen and (max-width: 600px) {
/* Burger */

.container-navigation .center .menu ul{
    min-height: 100vh;
    background: rgba(3,8,35,0.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    color: #fff;
    padding-top: 130px;
    transition: 1s;
}

    .container-navigation .center .menu .close{
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 25px;
    }
    .container-navigation .menu ul.mob-menu{
       
    left: 0;
 
    }
    
    
    .container-navigation .menu .burger{
        display: block;
        float: right;
     
       
    }
    .container-navigation .menu .burger img {
        width: 30px;
        height: 30px;
       margin-right: 40px;
        margin-top: 30px;
    }
/* Burger */

.container-locations .locations .card1 p{
    display: inline-block;
}

.container-locations .locations .card1 h5 {
    font-size: 24px;
}

    .container-navigation header .menu ul {
        display: none;
    }

    .container-about .center ul {
        margin-left: 0px ;
     } 


    .container-about .d-flex .MultiCollapse .city-show .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    } 

    .container-about .d-flex .MultiCollapse  {
        padding-right: 0;
        margin-right: 0;
    }

    .container-about .d-flex .MultiCollapse .city-show .card-body .about{
        width: 200px;
    }

    .container-about .abot {
        font-size: 38px;
    }

    .container-carusel .swiper {
        height: 40vh;
      }
    
      .container-carusel .swiper .swiper-slide .text {
        bottom: 500px;
        right: 50px;
      }

      .container-carusel .swiper .text h2 {
        font-size: 2px;
      }


      .container-carusel .swiper .swiper-slide .text h2{
        font-size: 35px;
      }
}


@media screen and (max-width: 500px) {

    .container-carusel .swiper {
        height: 50vh;
      }
    
      .container-carusel .swiper .swiper-slide .text {
        bottom: 600px;
        right: 20px;
      }

      .container-carusel .swiper .swiper-button-next,
      .container-carusel .swiper .swiper-button-prev{
           --swiper-navigation-size: 25px;
      }

      .container-carusel .swiper .swiper-slide .text h2 {
        font-size: 30px;
      }

      .container-carusel .swiper .swiper-slide .text p {
        left: 0;
        font-size: 14px;
        width: 200px;
      }

      .container-about .center ul {
        padding-left: 50px !important ;
        padding-right: 0 !important;
     } 

    .container-about .center ul {
        margin-left: 0px ;
     } 



     .container-locations .locations, 
     .container-locations .show-all .locations-all
    {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        row-gap: 30px
        ;
    }

    .container-locations .locations .card1:nth-last-of-type(3) {
        display: block;
     }

    .container-footer footer .info {
        row-gap: 30px;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        justify-items: start;
        
    }


    .container-footer footer .info > *:nth-child(1) {
          -ms-grid-row: 1;
          -ms-grid-column: 1;
       
    }

    .container-footer footer .info > *:nth-child(2) {
          -ms-grid-row: 1;
          -ms-grid-column: 2;
       
    }

    .container-footer footer .info .up {
        display: none;
    }

    .container-footer footer .ucp {
        padding: 0;
    }

    .container-locations .info {
        gap: 50px;
    }

    .container-locations .info h2 a {
        font-size: 30px;
    }

    .container-about .map iframe {
        width: 100%;
        height: 70%;
        
    }

    .container-locations .locations .card1 p {
        font-size: 18px;
    }

    .container-locations .locations .card1 h5 {
        font-size: 30px;
    }

    .container-about .map iframe {
        width: 90vw;
        height: 20vh;
          
      }
  
      .container-about .MultiCollapse{
          padding-top: 0;
      }

      .container-about .abot{
        font-size: 30px;
    }

    .container-about .center h3 {
        font-size: 24px;
    }

    .container-footer footer .info .contacts h6,
    .container-footer footer .info .menu h6 {
     
        padding: 0;
        margin-bottom: 0;
    }

    .container-footer footer .info .contacts ul li a,
    .container-footer footer .info .menu ul li a{
        font-size: 12px;
    }

    .container-locations .locations .card1,
    .container-locations .show-all .locations-all .card1 {
        width: 100vw;
        
    }


    .container-locations .locations .card1 p,
.container-locations .show-all .locations-all .card1 p {
    font-size: 18px;
    margin-bottom: 0;
}

.container-locations .locations .card1 h5,
.container-locations .show-all .locations-all .card1 h5 {
    font-size: 26px;
}

.container-locations .show-all .locations-all .card1 .about-btn,
.container-locations .locations .card1   .about-btn{
    font-size: 14px;
}
  }



@media screen and (max-width: 400px) {

    .container-carusel .swiper .swiper-slide .text h2 {
        font-size: 25px;
      }

      .container-carusel .swiper .swiper-slide .text p {
        left: 20px;
        font-size: 12px;
        width: 200px;
      }

 

    .container-footer footer .info {
        row-gap: 20px;
        justify-items: start;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr 1fr; 
    
    }

    .container-footer footer .info .contacts ul li a,
    .container-footer footer .info .menu ul li a {
        font-size: 12px;
    }

    .container-footer footer .info .contacts h6,
    .container-footer footer .info .menu h6 {
        font-size: 12px;
        padding: 0;
        margin-bottom: 0;
    }

    .container-footer footer .info .menu {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: end;
    }

    .container-footer footer .geraldika .ucp a{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; 
    }

    .container-footer footer .geraldika .ucp {
        margin: 0 auto;
        margin-top: 20px;
    }

    .container-footer footer .geraldika .ucp .emblem {
        margin: 0 auto;
    }

    .container-footer footer .geraldika .ucp p {
        text-align: center;
    }

    
    .container-about .map iframe {
        width: 90vw;
        height: 20vh;
          
      }


      .container-about .abot{
        font-size: 24px;
       
    }

    .container-about .center h3 {
        font-size: 21px;
    }

    .container-about .center p {
        font-size: 16px;
    }

    .container-locations .locations .card1 p{
        font-size: 16px;
    }
    
    .container-carusel .swiper {
        height: 50vh;
      }
    
      .container-carusel .swiper .swiper-slide .text {
        bottom: 400px;
        right: 60px;
      }
    
   
}
  