/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***WRAPPER***/


.wrapper {
   max-width: 1440px;
   width: 100%;
   margin: 0 auto; 
}

.center {
   max-width: 1440px;
   margin: 0 auto;
   width: 100%;
}


/************HEADER*************/

.container-navigation header {
   background-color: #030823;
 position: fixed;
 z-index: 100;
}

.container-navigation header img {
    height: 95px;
    padding: 8px 31px 8px 70px;
}

.container-navigation .emblem {   /*!!!!!!!*/
   display: flex;
   float: left;
}

.container-navigation .emblem .language select {
   background-color: transparent;
   font-family: Manrope;
   color: #F4F6FF;
   border: 0;
   font-size: 18px;
   margin-top: 34px;
   margin-right: 150px;
   width: 37px;
   appearance: none; 
   overflow: hidden;
   border: 0;
   background: url('../images/rectangle.svg');
   background-repeat: no-repeat;
   background-position: 27px;
   outline: none;
   -moz-appearance: none;
-webkit-appearance: none;
}

.container-navigation .emblem .language select option {
   background-color: #030823;
}



.container-navigation header .menu ul {
   display: flex;
   gap: 50px;
   align-items: center;
   padding-top: 26px;
   padding-bottom: 26px;
  
}

.container-navigation header .menu ul li a {
   color: #F4F6FF;
   font-family: Manrope;
   font-size: 18px;
   font-weight: 500;
   line-height: normal;
   text-decoration: none;
}

.container-navigation header .menu ul li a:hover{
   text-decoration: underline;
}

.container-navigation header .menu .tour a{
   color: #030823;
   display: block;
   padding: 8px 35px;
   text-align: center;
   font-family: Manrope;
   font-size: 19px;
   font-weight: 400;
   background-color: #F4F6FF;
   border-radius: 7px;
   transition: 1s;
   box-sizing: border-box;
   margin-left: 97px;
}

.container-navigation header .menu .tour a:hover {
   color:#F4F6FF;
   background-color: #162161;
   text-decoration: none;
}


/***CONTAINER CONTACTS***/

.container-contacts {
    background-color: #F4F6FF ;
    font-family: Manrope;
}

.container-contacts h1 {
    color: #030823;
    font-family: Oswald;
    font-size: 62px;
    font-weight: 400;
    line-height: 100.6%;
    letter-spacing: 0.62px;
    padding-left: 70px;
    padding-top: 160px;
}

.container-contacts hr {
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
    margin: 50px 0;
    padding: 0;
    height: 1px;
}




.container-contacts .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 70px;
    padding-right: 70px;
    justify-items: center;
    row-gap: 50px;
    column-gap: 50px;
}


.container-contacts .info .contacts,
.container-contacts .info .address,
.container-contacts .info .map,
.container-contacts .info .transport {
    justify-self: start;
}

.container-contacts .info .transport,
.container-contacts .info .address {
    padding-left: 50px;
}

.container-contacts .info h2 {
    font-weight: 600;
    display: block;
    padding-bottom: 0px;
    font-size: 22px;
    line-height: 160%;
}

.container-contacts .info p,
.container-contacts a {
    font-weight: normal;
    padding-bottom: 6px;
    font-size: 22px;
    text-decoration: none;
    color: #030823;
    line-height: 133%;
}

.container-contacts .info .contacts .insta{
    display: flex;
}

.container-contacts .info .contacts .insta .btn {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: #F4F6FF;
    border: 0;
    font-size: 23px;
    font-weight: 600;
}

.container-contacts .info .contacts .insta img {
    align-items: center;
    height: 30px;
    align-self: center;
    padding-left: 10px;
}

.container-contacts .info .transport .bus,
.container-contacts .info .transport .mini-bus,
.container-contacts .info .transport .tram,
.container-contacts .info .transport .metro
 {
    display: flex;
    align-self: center;
    padding-bottom: 20px;
}

.container-contacts .info .transport .metro {
    gap: 7px;
}

.container-contacts .info .transport .metro p {
    font-weight: 700;
}

.container-contacts .info .transport .bus p
{
   background:  rgb(36,158,14);
   color: #F4F6FF;
   border: 0;
}

.container-contacts .info .transport .mini-bus p {
    background-color: rgb(181, 182, 182);
    color: #F4F6FF;
    
    border: 0;
}

.container-contacts .info .transport .tram p {
    background-color: rgb(3,159,173);
    color: #F4F6FF;
}

.container-contacts .info .transport .bus p,
.container-contacts .info .transport .tram p {
    
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 7px;
    width: 40px;
    text-align: center;
    font-weight: 800;
    padding-top: 6px;
}

.container-contacts .info .transport .mini-bus p{
   
    margin-right: 5px;
    margin-left: 15px;
    border-radius: 7px;
    width: auto;
    text-align: center;
    font-weight: 800;
    padding-top: 6px;
    display: block;
    padding-bottom: 6px;

}

.container-contacts .info .transport .bus img,
.container-contacts .info .transport .tram img,
.container-contacts .info .transport .metro img
 {
    width: 35px;
    height: 35px;
}

.container-contacts .info .transport .mini-bus img {
    height: 32px;
}


.container-contacts .info .map {
    /* box-shadow: 0px 0px 14px 6px rgba(34, 60, 80, 0.2); */
    padding-bottom: -21px;
}

.map-widget-panorama-player-app__copyrights {
    display: none;
}

.container-contacts .rules {
    text-align: center;
}

.container-contacts .rules h3,
.container-contacts .price-list h3,
.container-contacts .payment-methods h3 {
    font-weight: normal;
    padding-bottom: 6px;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
    color: #030823;
    line-height: 133%;
    padding-bottom: 50px;
    text-align: center;
}

.container-contacts .rules ol {
    list-style-type: decimal;
    padding-left: 90px;
    padding-right: 70px;
    display: inline-block;
    text-align: left;
    font-size: 22px;
    line-height: 150%;
}



.container-contacts .rules ol b,
.container-contacts .payment-methods b {
    font-weight: 900;
}

.container-contacts .price-list {
    text-align: center;
}

.container-contacts .price-list .table {

  
    border-collapse: collapse;
    width: 1000px;
    margin: 0 auto;
    font-weight: normal;
    font-size: 22px;
    text-decoration: none;
    color: #030823;
    line-height: 173%;
}

.container-contacts .price-list .table{
    --bs-table-bg: none;
}

.container-contacts .price-list .table th {
    font-weight: 900;
}

.container-contacts .price-list table tr,
.container-contacts .price-list table th,
.container-contacts .price-list table td {
    padding: 5px;
    border: 1px black solid;
}

.container-contacts .payment-methods p {
display: inline-block;
border-collapse: collapse;
text-align: center;
font-weight: normal;
font-size: 22px;
text-decoration: none;
color: #030823;
line-height: 173%;
margin: 0 70px;
text-align: justify;
text-indent: 70px;
}

.container-contacts .payment-methods .qr img {
    width: 140px;
    position: relative;
    left: 800px;
    bottom: 25px;
    box-shadow: 0px 0px 14px 12px rgba(34, 60, 80, 0.2);

}

/***CONTAINER FOOTER***/

.map {
    margin-bottom: -3px;}


.container-footer {
    background-color: #030823;
}

.container-footer footer .ucp a p {
    color:  #9A9BD0;
    font-family: Manrope;
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 8px; 
    padding-left: 20px;
    padding-right: 20px;
    
}

.container-footer footer .ucp a{
    display: flex;
    text-decoration: none;
}

.container-footer footer .ucp a .emblem {
    width: 148px;
    height: 148px;
    display: block;
}

.container-footer footer .info {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 270px 336px 296px 350px 100px;
    padding-top: 70px;
    padding-left: 70px;
    justify-content: space-between;
    padding-bottom: 80px;
    padding-left: 100px;
}

.container-footer .center .geraldika {
    display: flex;
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 70px;
}


.container-footer footer .payments ul li:hover,
.container-footer footer .contacts ul li a:hover{
    cursor: pointer;
}

.container-footer footer .contacts h6,
.container-footer footer .menu h6,
.container-footer footer .payments h6 {
    color:  #9A9BD0;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;
    padding-left: 30px;
}

.container-footer footer .contacts ul li a,
.container-footer footer .menu ul li a {
    color:  #F4F6FF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
}

.container-footer footer .menu ul li a:hover {
    text-decoration: underline;
    }

.container-footer footer .payments ul {
    display: flex;
    gap: 17px;
}



.container-footer footer .up {
    height: 64px;
    padding-left: 230px;
}


.container-footer .ucp-bottom {
    color:  #F4F6FF;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
   
    padding-bottom: 18px;
}



/********Auto Carousel*******/

@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.slider {
    background: #030823;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, #030823 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 150px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 80s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 150px;
    width: 160px;
}




/* BURGER */


.container-navigation .menu ul .close{
    display: none;
}

.container-navigation .menu .burger{
    display: none;
}

.container-navigation .menu .burger img {
    width: 30px;
}



/* ****************************ADAPTIVE******************* */


@media screen and (max-width: 1375px) {
    

    .container-navigation .emblem .language select {
        margin-right: 50px;
    }

    .container-footer .info .up .arrow {
        padding-left: 0;
    }

    .container-footer footer .info {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
    }

    .container-navigation header .menu .tour a {
        align-self: flex-end;
    }

    .container-navigation header .menu .tour a {
        margin: 0;
    }

    .container-navigation header .menu ul {
  
        gap: 60px;
        padding-left: 0;
        margin-left: 30px;
       
    }

    .container-about .d-flex .MultiCollapse {
        padding-left: 20px;
    }


}


@media screen and (max-width: 1300px) {
    
    .container-navigation header img{
        padding-left: 40px;
    }

    



.container-navigation header .menu ul a {
    font-size: medium;
}


    .container-locations .locations, 
    .container-locations .locations-all {
        /* grid-template-columns: 340px 340px 340px; */
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 40px;
        padding-right: 40px;
    }



    .container-locations .locations .card1,
    .container-locations .locations-all .card1 {
        width: auto;
       
        text-align: center;
    }

    .container-locations .locations .card1 a, 
    .container-locations .locations-all .card1 a {
        padding-bottom: 15px;
        position: relative;
    }

    .container-locations .locations .card1 img,
    .container-locations .locations-all .card1 img{
        width: 100%;
       height: auto;
        /* height: 210px; */
    }

    

    .container-footer footer .info {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
    }

    .container-footer footer .up {
        padding-left: 90px;
    }


    .slider {
        width: 60%;
      
        height: 110px;
    }

    .slider .slide {
        height: 100px;
        width: 105px;
        margin-right: 50px;
    }

    .container-about .d-flex {
        flex-direction: column;
    }

    .container-about .d-flex .MultiCollapse {
        margin-top: -150px;
        margin-right: 150px;
        align-self: center;
    }

    .container-about .d-flex  .map {
        align-self: center;
    }

  


    .container-footer footer .contacts h6,
.container-footer footer .menu h6,
.container-footer footer .payments h6 {
  
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 8px;
}

.container-footer footer .contacts ul li a,
.container-footer footer .menu ul li a {
  
    font-size: 18px;
    font-weight: 400;
    
}

}


@media screen and (max-width: 1200px) {
    .container-navigation header .menu ul {
        gap: 55px;
    }

    .container-navigation header .menu ul a{
        font-size: small;
    }

    .container-navigation header .language {
        display: none;
    }

    .container-locations .locations .card1 h5 {
        font-size: 27px;
    }

    .container-locations .locations .card1 p {
        font-size: 16px;
    }
}


@media screen and (max-width: 1060px){

    .container-carusel .swiper {
        height: 50vh;
      }

      .container-carusel .swiper .swiper-slide .text {
        bottom: 380px;
      }

    .slider .slide {
        margin-right: 60px;
    }

    .container-navigation header .menu ul li:nth-child(4),
    .container-navigation header .menu ul li:nth-child(5) {
        display: none;
    }

    .container-footer footer .contacts ul li a,
.container-footer footer .menu ul li a {
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 0;
}

    .container-footer .payments {
        display: none;
    }

    .container-footer footer .info {
  
       grid-template-columns: 1fr 1fr 1fr;
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }

    .container-navigation header .menu ul {
        gap: 75px;
    }

    .container-footer .ucp-bottom {
        font-size: 8px;
        padding-top: 30px;
    }

    .container-locations .locations .card1 p{
        height: 100px;
    }



}



@media screen and (max-width: 900px) {

/* 
.container-locations .info{
        display: none;
      } */


.container-locations .locations, 
.container-locations .locations-all {
        grid-template-columns: 1fr 1fr;
    }

.container-about .map {
        margin: 0 auto;
       
    }


.container-locations .locations .card1:nth-last-of-type(3) {
       display: none;
    }

    .container-footer footer .contacts ,
.container-footer footer .menu,
.container-footer footer .payments {
    padding: 0;
}
.container-footer footer {
    padding-left: 40px;
}

.container-footer .ucp {
    margin-top: 40px;
    padding-left: 40px;
}

.container-footer .geraldika .ucp p {
    font-size: 20px;
}

.container-footer .geraldika .ucp img {
    width: 10px;
}



.container-about .abot,
.container-about .center p {
    padding-left: 20px;
    padding-right: 20px;
    text-indent: 20px;
}

.container-about .abot {
    font-size: 52px;
}

.container-about .center h3{
    font-size: 29px;
    padding: 0;
    padding-left: 20px;
    text-indent: 20px;
}

.container-about .center .abot h3 {
    padding: 0;
    margin: 0;
}

.container-about .center .abot ul {
    padding: 0;
}

.container-about .map iframe {
    margin-bottom: 40px;
}

.container-about .d-flex {
    justify-content: center !important;
 
}

.container-about .d-flex .MultiCollapse {
    margin-top: 0;
}

.container-about .d-flex .MultiCollapse h6 {
    margin-bottom: 20px;
    font-size: 24px;
}


.container-about .d-flex .MultiCollapse .city-show .btn {
    font-size: 15px;
}



.container-about .d-flex .MultiCollapse{
  padding-right: 200px;
}

.container-footer footer .info {
    padding: 0;
    padding-top: 25px;
}

.container-footer footer .info .up {
    padding: 0;
    
}
.container-footer footer .info .up img {
    height: 50px;
}

.slider .slide {
    height: 80px;
    width: 71px;
    margin-right: 80px;
}

.container-navigation header .menu .tour {
    margin-left: 36px;
}

.container-navigation header .menu ul {
    gap: 30px;
}

.container-footer .ucp-bottom {
    font-size: 8px;
    margin-bottom: 0;
}


.container-footer .geraldika{
    padding: 0 !important;
}



}


@media screen and (max-width: 750px) {
    .container-navigation header .menu .tour a {
        font-size: 14px;
    }

    .container-navigation header .menu ul li a {
        font-size: 14px;
    }

    .container-navigation header .menu ul{
        gap: 25px;
    }

    .slider {
        display: none;
    }

    .container-navigation header .menu ul {
        gap: 30 px;
    }

    .container-footer .geraldika .ucp a img {
        width: 100px;
        height: 100px;
    }

    .container-footer .info {
       justify-items: flex-end;
    }

    .container-footer .info {
        margin-right: 30px;
    }

    .container-carusel .swiper-slide .text h2 {
        font-size: 44px;
    }


    .container-carusel  .swiper-slide .text p {
        left: 50px;
        font-size: 15px;
    }

    .container-locations .info {
        gap: 120px;
       
    }

    .container-navigation header .menu .tour {
        margin-left: 0px;
    }

} 




@media screen and (max-width: 700px) {

.container-carusel .swiper .swiper-slide .text h2 {
    font-size: 40px;
}

.container-carusel  .swiper-slide .text p {
    left: 50px;
    font-size: 15px;
}

.container-locations .info {
    gap: 100px;
   
}

.container-navigation header .menu ul{
    gap: 20px;
}


.container-locations .info h2 a {
    font-size: 40px;
}

.container-about .map iframe {
    width: 500px;
    height: 250px;
}

.container-carusel .swiper {
    height: 40vh;
  }

  .container-carusel .swiper .swiper-slide .text {
    bottom: 500px;
  }

  /* .container-carusel .swiper .swiper-slide img {

  } */

  .container-about .abot {
    font-size: 41px;
    padding: 20px;
    margin: 0;

  }

  .container-about .abot p {
    padding: 20px;
  }



}


@media screen and (max-width: 600px) {
/* Burger */
    .container-navigation .menu .close{
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 25px;
    }
    .container-navigation .menu ul.mob-menu{
       
    left: 0;
 
    }
    .container-navigation .menu ul.mob-menu li a{
        color: #fff;
    }
    
    .container-navigation .menu .burger{
        display: block;
        float: right;
     
       
    }
    .container-navigation .menu .burger img {
        width: 30px;
        height: 30px;
       margin-right: 40px;
        margin-top: 30px;
    }
/* Burger */

.container-locations .locations .card1 p{
    display: inline-block;
}

.container-locations .locations .card1 h5 {
    font-size: 24px;
}

    .container-navigation header .menu ul {
        display: none;
    }


    .container-about .d-flex .MultiCollapse .city-show .row {
        display: flex;
        flex-direction: column;
    } 

    .container-about .d-flex .MultiCollapse  {
        padding-right: 0;
        margin-right: 0;
    }

    .container-about .d-flex .MultiCollapse .city-show .card-body .about{
        width: 200px;
    }
    
}


@media screen and (max-width: 500px) {

    .container-carusel .swiper {
        height: 35vh;
      }
    
      .container-carusel .swiper .swiper-slide .text {
        bottom: 600px;
        right: 50px;
      }

      .container-carusel .swiper .swiper-slide .text h2 {
        font-size: 27px;
      }

      .container-carusel .swiper .swiper-slide .text p {
        left: 0;
        font-size: 14px;
        width: 200px;
      }



    .container-locations .locations, 
    .container-locations .locations-all {
        grid-template-columns: 1fr;
    }

    .container-footer footer .info {
        row-gap: 30px;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        justify-items: start;
       
    }

    .container-footer footer .info .up {
        display: none;
    }

    .container-footer footer .ucp {
        padding: 0;
    }

    .container-locations .info {
        gap: 50px;
    }

    .container-locations .info h2 a {
        font-size: 30px;
    }

    .container-about .map iframe {
        width: 100%;
        height: 70%;
        
    }

    .container-locations .locations .card1 p {
        font-size: 18px;
    }

    .container-locations .locations .card1 h5 {
        font-size: 30px;
    }

    .container-about .map iframe {
        display: none;
          
      }
  
      .container-about .MultiCollapse{
          padding-top: 0;
      }
  }



@media screen and (max-width: 400px) {
    .container-footer footer .info {
        row-gap: 20px;
        justify-items: center;
        grid-template-columns: 1fr;       
    }

    .container-footer footer .info .menu {
        justify-content: end;
    }

    .container-footer footer .geraldika .ucp a{
        flex-direction: column;
    }
}
  